{% extends 'base.html.twig' %}

{% block headerTitle %}Paint: Add to Batch{% endblock %}
{% block breadcrumbs %}
<li>
    <a href="{{ path('paint_view2') }}">Paint: Create Batch</a>
</li>
<li class="active">
    <span><strong>Paint: Add to Batch</strong></span>
</li>
{% endblock %}

{% block body %}
    <div>
        <h4>Color: <span class="text-primary"><b>{{ color }}</b></span></h4>
        <h4>Next available batch # is <span class="text-warning"><b>{{ nextBatchNum }}</b></span></h4>
        <form action="{{ path('paint_add_to_batch') }}" method="POST">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Planner ESD</th>
                    <th>Job Name</th>
                    <th>SO #</th>
                    <th>QTY</th>
                </tr>
                </thead>
                <tbody>
                    {% for paint in paints %}
                    <input type="hidden" name="selected_paint[]" value="{{ paint.id }}">
                    <tr>
                        <td>{{ paint.job.plannerEstimatedShipDate ? paint.job.plannerEstimatedShipDate | date('Y-m-d') : "TBD" }}</td>
                        <td>{{ paint.job.name }}</td>
                        <td>{{ paint.job.salesOrder }}</td>
                        <td>{{ paint.job.quantity }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                <label class="col-sm-4 control-label required">Needed By Date</label>
                <input type="date" name="needed_by_date" class="js-datepicker">
            </div>
            <div>
                <label class="col-sm-4 control-label required">Quantity</label>
                <input type="number" name="quantity">
            </div>
            <div>
                <label class="col-sm-4 control-label required">Vendor</label>
                <input type="text" name="vendor">
            </div>
            <input type="hidden" name="next_batch_num" value="{{ nextBatchNum }}">

            <a href="{{ path('paint_view1') }}" class="btn btn-warning">Cancel</a>
            <input type="hidden" name="color" value="{{ color }}">
            <input type="submit" class="btn btn-info" value="Confirm">
        </form>
    </div>
{% endblock %}

{% block javascripts %}
<script>
     $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            dateFormat: 'yy-mm-dd',
        });
    });
</script>
{% endblock %}