{% extends 'base.html.twig' %}

{% block headerTitle %}Paint: Active Batches{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>Paint: Active Batches</span></li>
{% endblock %}

{% block afterBreadcrumbs %}
    <span style="float:right">
        <a href="{{ path('print_paint_view3', {'color': color, 'vendor': vendor, 'estimated_release_date': estimated_release_date, 'batch': batch, 'show_all_batches': show_all_batches}) }}" class="btn btn-sm btn-warning">Print</a>
    </span>
{% endblock %}

{% block body %}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form action="{{ path('paint_view3') }}" method="GET">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="form-label">Batch #</label>
                        <input type="text" name="batch" value="{{ batch }}" placeholder="Type in batch #" class="form-control">
                    </div>                    
                    <div class="col-sm-2">
                        <label class="form-label">Color</label>
                        <input type="text" name="color" value="{{ color }}" placeholder="Type in color" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Vendor</label>
                        <input type="text" name="vendor" value="{{ vendor }}" placeholder="Type in vendor name" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Estimated Release Date</label>
                        <input type="text" id="estimated_release_date" name="estimated_release_date" value="{{ estimated_release_date }}" placeholder="YYYY-MM-DD" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-check-label">
                            <input type="checkbox" name="show_all_batches" value="1" class="form-check-input" {% if show_all_batches %}checked{% endif %}>
                            Show all batches
                        </label>
                    </div>
                    <div class="col-sm-8">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-info" value="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h2>Paint: Active Batches list</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="border:solid;width:7ch;font-size:x-small">Estimated Release Date</th>
            <th style="border:solid;min-width:20ch">Notes</th>
            <th style="border:solid;width:4ch">Batch #</th>
            <th style="border:solid;width:3ch;font-size:x-small">Total Pieces</th>
            <th style="border:solid">Color</th>
            <th style="border:solid">RAL color</th>
            <th style="border:solid">Vendor</th>
            <th style="border:solid">V2 PO#</th>
            <th style="border:solid;width:7ch;font-size:x-small">Needed By Date</th>
            <th style="border:solid;width:7ch">Kit Date</th>
            <th style="border:solid;width:7ch">EDD</th>
            <th style="border:solid;width:7ch">RCVD Date</th>
        </tr>
        </thead>
        <tbody>
            {% for batch in batches %}
                <td>
                    {% if is_granted('ROLE_PAINTER') %}
                        <a href="#" class="estimatedReleaseDate" data-name="estimatedReleaseDate" data-pk="{{batch.id}}" data-url="{{ path('edit_batch_estimated_release_date', {'batchId': batch.id}) }}">{{ batch.estimatedReleaseDate ? batch.estimatedReleaseDate | date('Y-m-d') : "" }}</a>
                    {% else %}
                        {{ batch.estimatedReleaseDate ? batch.estimatedReleaseDate | date('Y-m-d') : "" }}
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_PAINTER') %}
                        <a href="#" class="notes" data-name="notes" data-pk="{{batch.id}}" data-url="{{ path('edit_batch_notes', {'batchId': batch.id}) }}">{{ batch.notes }}</a>
                    {% else %}
                        {{ batch.notes }}
                    {% endif %}
                </td>
                <td><a href="{{ path('paint_view4', { 'batch': batch.id }) }}">{{ batch.id }}</a></td>
                <td>
                    {% if is_granted('ROLE_PAINTER') %}
                        <a href="#" class="quantity" data-name="quantity" data-pk="{{batch.id}}" data-url="{{ path('edit_batch_quantity', {'batchId': batch.id}) }}">{{ batch.quantity }}</a>
                    {% else %}
                        {{ batch.quantity }}
                    {% endif %}
                </td>
                <td>{{ batch.color }}</td>
                <td>{{ batch.ralColor }}</td>
                <td>
                    {% if is_granted('ROLE_PAINTER') %}
                        <a href="#" class="vendor" data-name="vendor" data-pk="{{batch.id}}" data-url="{{ path('edit_batch_vendor', {'batchId': batch.id}) }}">{{ batch.vendor }}</a>
                    {% else %}
                        {{ batch.vendor }}
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_PAINTER') %}
                        <a href="#" class="v2PoNumber" data-name="v2PoNumber" data-pk="{{batch.id}}" data-url="{{ path('edit_batch_v2_po_number', {'batchId': batch.id}) }}">{{ batch.v2PoNumber }}</a>
                    {% else %}
                        {{ batch.v2PoNumber }}
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_PAINTER') %}
                        <a href="#" class="neededByDate" data-name="neededByDate" data-pk="{{ batch.id }}" data-url="{{ path('edit_batch_needed_by_date', { 'batchId': batch.id }) }}">{{ batch.neededByDate ? batch.neededByDate | date('Y-m-d') : "" }}</a>
                    {% else %}
                        {{ batch.neededByDate ? batch.neededByDate | date('Y-m-d') : "" }}
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_PAINTER') %}
                        <a href="#" class="kitDate" data-name="kitDate" data-pk="{{batch.id}}" data-url="{{ path('edit_batch_kit_date', {'batchId': batch.id}) }}">{{ batch.kitDate ? batch.kitDate | date('Y-m-d') : "" }}</a>
                    {% else %}
                        {{ batch.kitDate ? batch.kitDate | date('Y-m-d') : "" }}
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_PAINTER') %}
                        <a href="#" class="estimatedDeliveryDate" data-name="estimatedDeliveryDate" data-pk="{{batch.id}}" data-url="{{ path('edit_batch_estimated_delivery_date', {'batchId': batch.id}) }}">{{ batch.estimatedDeliveryDate ? batch.estimatedDeliveryDate | date('Y-m-d') : "" }}</a>
                    {% else %}
                        {{ batch.estimatedDeliveryDate ? batch.estimatedDeliveryDate | date('Y-m-d') : "" }}
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_PAINTER') %}
                        <a href="#" class="receivedDate" data-name="receivedDate" data-pk="{{batch.id}}" data-url="{{ path('edit_batch_received_date', {'batchId': batch.id}) }}">{{ batch.receivedDate ? batch.receivedDate | date('Y-m-d') : "" }}</a>
                    {% else %}
                        {{ batch.receivedDate ? batch.receivedDate | date('Y-m-d') : "" }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('.table').fixedThead({
          height: 400,
          row: 1,
          col: 1
        });

        $('#estimated_release_date').datepicker({
            dateFormat: 'yy-mm-dd'
        });


        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';
        
        $('.estimatedReleaseDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'right',
                url: obj.dataset.url,
                title: 'Select Estimated Release Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.notes').each(function(i, obj) {
            $(this).editable({
                type: 'textarea',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Notes',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.quantity').each(function(i, obj) {
            $(this).editable({
                type: 'number',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Quantity',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.vendor').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Vendor Name',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.v2PoNumber').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter V2 PO #',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.kitDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Kit Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.neededByDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Needed By Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.estimatedDeliveryDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Estimated Delivery Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.receivedDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Received Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        
    });
    </script>
{% endblock %}