{% extends 'base.html.twig' %}

{% block headerTitle %}Paint: To Be Batched{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>Paint: To Be Batched</span></li>
{% endblock %}

{% block body %}
    <h2>Paint: To Be Batched list</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="border:solid">Color</th>
            <th style="border:solid"># of jobs</th>
            <th style="border:solid">Sum of fixture qty</th>
            <th style="border:solid">Earliest Planner ESD</th>
        </tr>
        </thead>
        <tbody>
            {% for paint in paints %}
                {% set late = 0 %}
                {% if paint.planner_esd | date('Y-m-d') < (date()|date_modify("+21 days")|date('Y-m-d')) %}
                    {% set late = 1 %}
                {% endif %}
            <tr {% if late == 1 %}bgcolor="lightcoral"{% endif %}>
                <td {% if late %}style="color:white"{% endif %}><a href="{{ path('paint_view2', { 'color': paint.color }) }}">{{ paint.color }}</a></td>
                <td {% if late %}style="color:white"{% endif %}>{{ paint.num_jobs }}</td>   
                <td {% if late %}style="color:white"{% endif %}>{{ paint.sum_qty }}</td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if paint.planner_esd %}
                        {{ paint.planner_esd | date('Y-m-d') }}
                    {% else %}
                        TBD
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('.table').fixedThead({
          height: 400,
          row: 1,
          col: 1
        });

        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';
        
    });
    </script>
{% endblock %}