{% extends 'base.html.twig' %}

{% block headerTitle %}Create Job{% endblock %}
{% block breadcrumbs %}
<li>
    <a href="{{ path('all_jobs') }}">Jobs</a>
</li>
<li class="active">
    <span><strong>Create Job</strong></span>
</li>
{% endblock %}

{% block body %}
            <div>
                <form method="POST" class="form-horizontal" action="{{ path('create_job') }}">
                    {{ form_row(form.name) }}
                    {# This next section overwrites the form's original name #}
                    <div class="form-group">
                        <label class="col-sm-4 control-label required">Name</label>
                        <input type="text" id="v2_mainbundle_job_name" name="v2_mainbundle_job[name]" list="jobNames" placeholder="Type in job name" class="col-sm-5 search-job" data-path="{{ path('job_names') }}">
                        <datalist id="jobNames"></datalist>
                    </div>
                    <br>
                    {{ form_row(form.salesOrder) }}
                    {{ form_row(form.estimatedShipDate) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.model) }}
                    {{ form_row(form.quantity) }}
                    {{ form_row(form.paint1) }}
                    {{ form_row(form.paint2) }}
                    {{ form_row(form.macPurchaseOrder) }}
                    {{ form_row(form.buildLocation) }}
                    {{ form_row(form.plannerEstimatedShipDate) }}

                    <a href="{{ path('dashboard') }}" class="btn btn-warning">Cancel</a>
                    {{ form_widget(form.save) }}

                    {{ form_rest(form) }}
                </form>
            </div>
{% endblock %}

{% block javascripts %}
<script>
     $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
        });

        $('body').on('keyup', '.search-job', function(e) {
            var searchValue = $(this).val();
            $.ajax({
                url: $(this).data('path'),
                type: 'POST',
                data: { searchValue: searchValue },
                error: function(result) { 
                    console.log(result);
                    alert("Please contact Engineering Dept!"); 
                },
                success: function(result) {
                    var newHtml = '';
                    for(i = 0; i < result.length; i++) {
                        console.log(result[i]);
                        newHtml += "<option value='"+result[i]+"'>";
                    }
                    $('#jobNames').html(newHtml);
                },
            });
            e.preventDefault();
        });

    });
</script>
{% endblock %}