{% extends 'base.html.twig' %}

{% block headerTitle %}Shipper Jobs{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>Shipper Jobs</span></li>
{% endblock %}

{% block body %}
    <h2>Shipper Job list</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="border:solid;width:10ch" rowspan=2>Name</th>
                <th style="border:solid;width:6ch" rowspan=2>SO #</th>
                <th style="border:solid;text-align:center" colspan=5>Job</th>
                <th style="border:solid;text-align:center" colspan=4>Shipped</th>
            </tr>
            <tr>
                {# Job #}
                <th style="border:solid;width:10ch">Type</th>
                <th style="border:solid;width:6ch">Model</th>
                <th style="border:solid;width:4ch">Qty</th>
                <th style="border:solid;width:6ch">MO #</th>
                <th style="border:solid;width:7ch;font-size:x-small">Planner ESD<br>(Week#)</th>
                {# Shipped #}
                <th style="border:solid;width:7ch">Date</th>
                <th style="border:solid;width:4ch">Complete or Partial</th>
                <th style="border:solid;width:7ch">2nd Date</th>
                <th style="border:solid;width:20ch">Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
                {% set late = 0 %}
                {# highlight red two days after build completion date #}
                {% if job.scheduling.completionDate < (date()|date_modify("-2 days")) %}
                    {% set late = 1 %}
                {% endif %}
            <tr {% if late %}bgcolor="lightcoral"{% endif %}>
                <td style="font-size:small; {% if late %}color:white{% endif %}">{{ job.name }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ job.salesOrder }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ job.type }}</td>
                <td style="word-break:break-all; {% if late %}color:white{% endif %}">{{ job.model }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ job.quantity }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ job.manufacturingOrder }}</td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if job.plannerEstimatedShipDate %}
                        {{ job.plannerEstimatedShipDate|date('m-d') }} ({{ job.plannerEstimatedShipDate|date('W') }})
                    {% else %}
                        TBD
                    {% endif %}
                </td>
                {# Shipped #}
                <td {% if late %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_SHIPPER') %}
                        <a href="#" class="shipDate" data-name="shipDate" data-pk="{{job.id}}" data-url="{{ path('edit_shipping_ship_date', {'jobId': job.id}) }}">{{ job.shipping and job.shipping.shipDate ? job.shipping.shipDate | date('m-d') : "" }}</a>
                    {% else %}
                        {{ job.shipping and job.shipping.shipDate ? job.shipping.shipDate | date('m-d') : "" }}
                    {% endif %}
                </td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_SHIPPER') %}
                        <a href="#" class="isComplete" data-name="isComplete" data-pk="{{job.id}}" data-value="{{job.shipping ? job.shipping.isComplete : ''}}" data-url="{{ path('edit_shipping_is_complete', {'jobId': job.id}) }}">
                            {% if job.shipping and job.shipping.isComplete == 2 %}
                                Complete
                            {% elseif job.shipping and job.shipping.isComplete == 1 %}
                                Partial
                            {% else %}
                                {# Empty #}
                            {% endif %}
                        </a>
                    {% else %}
                            {% if job.shipping and job.shipping.isComplete == 2 %}
                                Complete
                            {% elseif job.shipping and job.shipping.isComplete == 1 %}
                                Partial
                            {% else %}
                                {# Empty #}
                            {% endif %}
                    {% endif %}
                </td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_SHIPPER') %}
                        <a href="#" class="secondShipDate" data-name="secondShipDate" data-pk="{{job.id}}" data-url="{{ path('edit_shipping_second_ship_date', {'jobId': job.id}) }}">{{ job.shipping and job.shipping.secondShipDate ? job.shipping.secondShipDate | date('m-d') : "" }}</a>
                    {% else %}
                        {{ job.shipping and job.shipping.secondShipDate ? job.shipping.secondShipDate | date('m-d') : "" }}
                    {% endif %}
                </td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_SHIPPER') %}
                        <a href="#" class="notes" data-name="notes" data-pk="{{job.id}}" data-url="{{ path('edit_shipping_notes', {'jobId': job.id}) }}">{{ job.shipping and job.shipping.notes ? job.shipping.notes : "" }}</a>
                    {% else %}
                        {{ job.shipping and job.shipping.notes ? job.shipping.notes : "" }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('.table').fixedThead({
          height: 400,
          row: 2,
          col: 2
        });
        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';

        $('.shipDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Ship Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.isComplete').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                emptytext: 'Empty',
                container: 'body',
                placement: 'left',
                value: obj.dataset.value,
                source: [
                  {value: 2, text: 'Complete'},
                  {value: 1, text: 'Partial'}
                ],
                url: obj.dataset.url,
                title: 'Is Complete?',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.secondShipDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Second Ship Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.notes').each(function(i, obj) {
            $(this).editable({
                type: 'textarea',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter notes',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

    });
    </script>
{% endblock %}