{% extends 'base.html.twig' %}

{% block headerTitle %}Manufacturer Parts{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>Manufacturer Parts</span></li>
{% endblock %}

{% block body %}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form action="{{ path('manufacturer') }}" method="GET">
                <div class="row">
                    <div class="col-sm-5">
                        <label class="form-label">Date Needed Range</label>
                        <div class="input-daterange input-group">
                        <input type="text" name="date_needed_from" value="{{ date_needed_from }}" class="form-control">
                        <span class="input-group-addon">to</span>
                        <input type="text" name="date_needed_to" value="{{ date_needed_to }}" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-info" value="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h2>Manufacturer Part list</h2>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th style="border:solid">Part Number</th>
            <th style="border:solid">Date Needed</th>
            <th style="border:solid">EDD</th>
            <th style="border:solid">Mod WO#</th>
            <th style="border:solid">Received Date</th>
            <th style="border:solid">Notes</th>
            <th style="border:solid">Job Name</th>
            <th style="border:solid">Job SO #</th>
            <th style="border:solid">Qty</th>
            <th style="border:solid">Updated by</th>
        </tr>
        </thead>
        <tbody>
            {% for part in parts %}
            <tr>
                <td>{{ part.partNumber}}</a></td>
                <td>{{ part.dateNeeded ? part.dateNeeded | date('Y-m-d') : "" }}</td>
                <td {% if part.estimatedDeliveryDate and date(part.estimatedDeliveryDate) > date(part.dateNeeded) %}style="background-color:blue"{% endif %}><a href="#" class="estimatedDeliveryDate" data-name="estimatedDeliveryDate" data-pk="{{ part.id }}" data-url="{{ path('edit_kitting_short_estimated_delivery_date', { 'shortId': part.id }) }}">{{ part.estimatedDeliveryDate ? part.estimatedDeliveryDate | date('Y-m-d') : "" }}</a></td>
                <td>{{ part.modWo }}</td>
                <td><a href="#" class="modDoneDate" data-name="modDoneDate" data-pk="{{ part.id }}" data-url="{{ path('edit_kitting_short_mod_done_date', { 'shortId': part.id }) }}">{{ part.modDoneDate ? part.modDoneDate | date('Y-m-d') : "" }}</a></td>
                <td>{{ part.notes }}</td>
                <td>{{ part.kitting and part.kitting.job ? part.kitting.job.name }}</td>
                <td>{{ part.kitting and part.kitting.job ? part.kitting.job.salesOrder }}</td>   
                <td>{{ part.kitting and part.kitting.job ? part.kitting.job.quantity }}</td>
                <td>{{ part.updatedBy }}<br>({{ part.updateTime|date('Y-m-d') }})</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('.table').fixedThead({
          height: 400,
          row: 1,
          col: 1
        });
        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';

        $("input[name='date_needed_from'").datepicker({
            format: 'yyyy-mm-dd'
        });        
        $("input[name='date_needed_to'").datepicker({
            format: 'yyyy-mm-dd'
        });        
        
        $('.estimatedDeliveryDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Estimated Delivery Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        $('.modDoneDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Mod Done Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        
    });
    </script>
{% endblock %}