{% extends 'base.html.twig' %}

{% block headerTitle %}Scheduler Jobs{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>Scheduler Jobs</span></li>
{% endblock %}

{% block body %}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form action="{{ path('scheduler') }}" method="GET">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-label">Job Name</label>
                        <input type="text" name="name" value="{{ name }}" placeholder="Type in job name" class="form-control">
                    </div>
                    <div class="col-sm-2">
                        <label class="form-label">Sales Order #</label>
                        <input type="text" name="sales_order" value="{{ sales_order }}" placeholder="Type in SO #" class="form-control">
                    </div>                    
                    <div class="col-sm-2">
                        <label class="form-label">Priority</label>
                        <select name="selected_priority" class="select2-box form-control">
                            <option value="99" {% if selected_priority == 99 %}selected{% endif %}>ALL</option>
                            <option value="4" {% if selected_priority == 4 %}selected{% endif %}>RMA</option>
                            <option value="3" {% if selected_priority == 3 %}selected{% endif %}>Rush</option>
                            <option value="2" {% if selected_priority == 2 %}selected{% endif %}>Hot</option>
                            <option value="1" {% if selected_priority == 1 %}selected{% endif %}>Custom</option>
                            <option value="0" {% if selected_priority == 0 %}selected{% endif %}>Normal</option>
                            <option value="-1" {% if selected_priority == -1 %}selected{% endif %}>Extra</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label class="form-label">Location</label>
                        <select name="selected_location" class="select2-box form-control">
                            <option value="0" {% if selected_location == 0 %}selected{% endif %}>ALL</option>
                        {% for location in locations %}
                            <option value="{{location.id}}" {% if selected_location == location.id %}selected{% endif %}>{{ location.name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="form-label">ESD Date Range</label>
                        <div class="input-daterange input-group">
                            <input type="text" name="esd_date_from" value="{{ esd_date_from }}" class="form-control">
                            <span class="input-group-addon">to</span>
                            <input type="text" name="esd_date_to" value="{{ esd_date_to }}" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Planner ESD Week Range</label>
                        <div class="input-daterange input-group">
                            <input type="text" name="planner_esd_week_from" value="{{ planner_esd_week_from }}" class="form-control">
                            <span class="input-group-addon">to</span>
                            <input type="text" name="planner_esd_week_to" value="{{ planner_esd_week_to }}" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-2" style="margin-top:20px">
                        <label class="form-check-label">
                            <input type="checkbox" name="filled_completely" value="1" class="form-check-input" {% if filled_completely %}checked{% endif %}>
                            See only 100% filled
                        </label>
                    </div>
                    <div class="col-sm-2" style="margin-top:20px">
                        <label class="form-check-label">
                            <input type="hidden" name="non_shipped" value="0" />
                            <input type="checkbox" name="non_shipped" value="1" class="form-check-input" {% if non_shipped %}checked{% endif %}>
                            See only non-shipped jobs
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <input type="submit" class="btn btn-info" value="Search">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h2>Scheduler Job list <span style="font-size:70%"> (Total jobs: {{ jobs|length }})</span></h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="border:solid;width:10ch" rowspan=2>Name</th>
            <th style="border:solid;width:6ch" rowspan=2>SO #</th>
            <th style="border:solid;width:10ch" rowspan=2>Job Type</th>            
            <th style="border:solid;text-align:center" colspan=7>Job</th>
            <th style="border:solid;text-align:center" colspan=1>BOM</th>
            <th style="border:solid;text-align:center" colspan=3>Kitting</th>
            <th style="border:solid;text-align:center" colspan=5>Short #1</th>
            <th style="border:solid;text-align:center" colspan=5>Short #2</th>
            <th style="border:solid;text-align:center" colspan=5>Short #3</th>
            <th style="border:solid;text-align:center" colspan=5>Short #4</th>
            <th style="border:solid;text-align:center" colspan=1>Paint</th>
            <th style="border:solid;text-align:center" colspan=3>Scheduling</th>
            <th style="border:solid;text-align:center" colspan=3>Shipped</th>
        </tr>
        <tr>
            {# Job #}
            <th style="border:solid;min-width:7ch">ESD</th>
            <th style="border:solid;width:7ch;font-size:60%">Planner ESD (Week#)</th>
            <th style="border:solid;width:6ch">Model</th>
            <th style="border:solid;width:4ch">Qty</th>
            <th style="border:solid;width:6ch">MO#</th>
            <th style="border:solid;width:6ch">MAC PO#</th>
            <th style="border:solid;width:3ch">LOC</th>
            {# BOM #}
            <th style="border:solid;width:7ch;font-size:60%">Issued Date</th>
            {# Kitting #}
            <th style="border:solid;width:4ch">LOC</th>
            <th style="border:solid;width:7ch;font-size:60%">Completion Date</th>
            <th style="border:solid;width:4ch;font-size:60%">Filled Completely?</th>
            {# Short #1 #}
            <th style="border:solid;min-width:11ch">Part Number</th>
            <th style="border:solid;width:4ch;font-size:60%">Painted Part</th>
            <th style="border:solid;min-width:7ch;font-size:60%">Date Needed</th>
            <th style="border:solid;min-width:7ch">EDD</th>
            <th style="border:solid;min-width:7ch">RCVD Date</th>
            {# Short #2 #}
            <th style="border:solid;min-width:11ch">Part Number</th>
            <th style="border:solid;width:4ch;font-size:60%">Painted Part</th>
            <th style="border:solid;min-width:7ch;font-size:60%">Date Needed</th>
            <th style="border:solid;min-width:7ch">EDD</th>
            <th style="border:solid;min-width:7ch">RCVD Date</th>
            {# Short #3 #}
            <th style="border:solid;min-width:11ch">Part Number</th>
            <th style="border:solid;width:4ch;font-size:60%">Painted Part</th>
            <th style="border:solid;min-width:7ch;font-size:60%">Date Needed</th>
            <th style="border:solid;min-width:7ch">EDD</th>
            <th style="border:solid;min-width:7ch">RCVD Date</th>
            {# Short #4 #}
            <th style="border:solid;min-width:11ch">Part Number</th>
            <th style="border:solid;width:4ch;font-size:60%">Painted Part</th>
            <th style="border:solid;min-width:7ch;font-size:60%">Date Needed</th>
            <th style="border:solid;min-width:7ch">EDD</th>
            <th style="border:solid;min-width:7ch">RCVD Date</th>
            {# Paint #}
            <th style="border:solid;width:4ch">LOC</th>
            {# Scheduling #}
            <th style="border:solid;width:4ch">Sub Ready</th>
            <th style="border:solid;min-width:7ch;font-size:60%">Build Completion Date</th>
            <th style="border:solid;width:4ch">Priority</th>
            {# Shipped #}
            <th style="border:solid;width:7ch">1st Ship Date </th>
            <th style="border:solid;width:4ch">Complete or Partial</th>
            <th style="border:solid;width:7ch">2nd Ship Date</th>            
        </tr>            
        </thead>
        <tbody>
            {% for job in jobs %}
                {% set late = 0 %}
                {# highlight red if planner ESD is later than ESD and shipped date is empty #}
                {% if job.plannerEstimatedShipDate > job.estimatedShipDate and (job.shipping is null or (job.shipping and job.shipping.shipDate is null)) %}
                    {% set late = 1 %}
                {% endif %}
                {% if job.plannerEstimatedShipDate < (date()|date_modify("-14 days")) and (job.kitting.filledCompletely is null or job.kitting.filledCompletely == 0) %}
                    {% set late = 2 %}
                {% endif %}
                {% set late = 0 %}
            <tr {% if late == 1 %}bgcolor="lightcoral"{% elseif late == 2 %}bgcolor="plum"{% endif %}>
                {# Job #}
                <td style="font-size:small; {% if late %}color:white{% endif %}"><a href="#" class="name" data-name="name" data-pk="{{job.id}}" data-url="{{ path('edit_job_name', {'jobId': job.id}) }}">{{ job.name }}</a></td>
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="salesOrder" data-name="salesOrder" data-pk="{{job.id}}" data-url="{{ path('edit_job_sales_order', {'jobId': job.id}) }}">{{ job.salesOrder }}</a></td>   
                <td style="word-break:break-all;{% if late %}color:white{% endif %}"><a href="#" class="type" data-name="type" data-pk="{{job.id}}" data-url="{{ path('edit_job_type', {'jobId': job.id}) }}">{{ job.type }}</a></td>
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="estimatedShipDate" data-name="estimatedShipDate" data-pk="{{job.id}}" data-url="{{ path('edit_job_estimated_ship_date', {'jobId': job.id}) }}">{{ job.estimatedShipDate ? job.estimatedShipDate | date('Y-m-d') : "" }}</a></td>
                <td {% if late %}style="color:white"{% endif %}>
                    <a href="#" class="plannerEstimatedShipDate" data-name="plannerEstimatedShipDate" data-pk="{{job.id}}" data-url="{{ path('edit_job_planner_estimated_ship_date', {'jobId': job.id}) }}">
                        {% if job.plannerEstimatedShipDate %}
                            {{ job.plannerEstimatedShipDate|date('Y-m-d') }} ({{ job.plannerEstimatedShipDate|date('W') }})
                        {% else %}
                            TBD
                        {% endif %}
                    </a>
                </td>                
                <td style="word-break:break-all"><a href="#" class="model" data-name="model" data-pk="{{job.id}}" data-url="{{ path('edit_job_model', {'jobId': job.id}) }}">{{ job.model }}</a></td>
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="quantity" data-name="quantity" data-pk="{{job.id}}" data-url="{{ path('edit_job_quantity', {'jobId': job.id}) }}">{{ job.quantity }}</a></td>
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="manufacturingOrder" data-name="manufacturingOrder" data-pk="{{job.id}}" data-url="{{ path('edit_job_manufacturing_order', {'jobId': job.id}) }}">{{ job.manufacturingOrder }}</a></td>                    
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="macPurchaseOrder" data-name="macPurchaseOrder" data-pk="{{job.id}}" data-url="{{ path('edit_job_mac_purchase_order', {'jobId': job.id}) }}">{{ job.macPurchaseOrder }}</a></td>
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="buildLocation" data-name="buildLocation" data-pk="{{job.id}}" data-value="{{job.buildLocation.id}}" data-url="{{ path('edit_job_build_location', {'jobId': job.id}) }}">{{ job.buildLocation.name }}</a></td>
                {# BOM #}
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="issuedDate" data-name="issuedDate" data-pk="{{job.id}}" data-url="{{ path('edit_bom_issued_date', {'jobId': job.id}) }}">{{ job.bom and job.bom.issuedDate ? job.bom.issuedDate|date('Y-m-d') : "" }}</a></td>
                {# Kitting #}
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="kittingLocation" data-name="kittingLocation" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_location', {'jobId': job.id}) }}">{{ job.kitting.location }}</a></td>
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="kittingCompletionDate" data-name="kittingCompletionDate" data-pk="{{job.id}}" data-url="{{ path('edit_kitting_completion_date', {'jobId': job.id}) }}">{{ job.kitting and job.kitting.completionDate ? job.kitting.completionDate | date('Y-m-d') : ""}}</a></td>
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="filledCompletely" data-name="filledCompletely" data-pk="{{job.kitting.id}}" data-value="{{ job.kitting ? job.kitting.filledCompletely : 0 }}" data-url="{{ path('edit_kitting_filled_completely', {'jobId': job.id}) }}">
                    {% if job.kitting and job.kitting.filledCompletely is null %}
                        Empty
                    {% elseif job.kitting and (job.kitting.filledCompletely == 1) %}
                        Yes
                    {% elseif job.kitting and (job.kitting.filledCompletely == 0) %}
                        No
                    {% else %}
                        Unknown
                    {% endif %}
                </td>
                {# Short #1 #}
                {% if job.kitting.kittingShort1 is null %}
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="shortPartNumber" data-name="shortPartNumber" data-pk="{{job.kitting ? job.kitting.id}}" data-value="" data-url="{{ path('edit_kitting_short1', {'jobId': job.id, 'shortId': 0}) }}"></a></td>
                    <td></td><td></td><td></td><td></td>
                {% else %}
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="shortPartNumber" data-name="shortPartNumber" data-pk="{{job.kitting ? job.kitting.id}}" data-value="{{job.kitting and job.kitting.kittingShort1 ? job.kitting.kittingShort1.partNumber}}" data-url="{{ path('edit_kitting_short1', {'jobId': job.id, 'shortId': (job.kitting and job.kitting.kittingShort1) ? job.kitting.kittingShort1.id : 0}) }}">{{ job.kitting and job.kitting.kittingShort1 ? job.kitting.kittingShort1.partNumber : "" }}</a></td>
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="paintedPart" data-name="paintedPart" data-pk="{{job.kitting.id}}" data-value="{{job.kitting.kittingShort1 ? job.kitting.kittingShort1.paintedPart : 0}}" data-url="{{ path('edit_kitting_short_painted_part', {'shortId': (job.kitting.kittingShort1) ? job.kitting.kittingShort1.id : 0}) }}">{{ job.kitting.kittingShort1 ? job.kitting.kittingShort1.paintedPart : "" }}</a></td>
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="dateNeeded" data-name="dateNeeded" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short_date_needed', {'shortId': (job.kitting.kittingShort1) ? job.kitting.kittingShort1.id : 0}) }}">{{ job.kitting.kittingShort1 and job.kitting.kittingShort1.dateNeeded ? job.kitting.kittingShort1.dateNeeded | date('Y-m-d') : "" }}</a></td>
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="estimatedDeliveryDate" data-name="estimatedDeliveryDate" data-pk="{{ job.kitting ? job.kitting.id }}" data-url="{{ path('edit_kitting_short_estimated_delivery_date', { 'shortId': (job.kitting and job.kitting.kittingShort1) ? job.kitting.kittingShort1.id : 0}) }}">{{ job.kitting.kittingShort1 and job.kitting.kittingShort1.estimatedDeliveryDate ? job.kitting.kittingShort1.estimatedDeliveryDate | date('Y-m-d') : "" }}</a></td>
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="receivedDate" data-name="receivedDate" data-pk="{{ job.kitting ? job.kitting.id }}" data-url="{{ path('edit_kitting_short_received_date', { 'shortId': (job.kitting and job.kitting.kittingShort1) ? job.kitting.kittingShort1.id : 0}) }}">{{ job.kitting.kittingShort1 and job.kitting.kittingShort1.receivedDate ? job.kitting.kittingShort1.receivedDate | date('Y-m-d') : "" }}</a></td>
                {% endif %}
                {# Short #2 #}
                {% if job.kitting.kittingShort2 is null %}
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="shortPartNumber" data-name="shortPartNumber" data-pk="{{job.kitting.id}}" data-value="{{job.kitting.kittingShort2 ? job.kitting.kittingShort2.partNumber}}" data-url="{{ path('edit_kitting_short2', {'jobId': job.id, 'shortId': (job.kitting.kittingShort2) ? job.kitting.kittingShort2.id : 0}) }}">{{ job.kitting.kittingShort2 ? job.kitting.kittingShort2.partNumber : "" }}</a></td>
                    <td></td><td></td><td></td><td></td>
                {% else %}
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="shortPartNumber" data-name="shortPartNumber" data-pk="{{job.kitting.id}}" data-value="{{job.kitting.kittingShort2 ? job.kitting.kittingShort2.partNumber}}" data-url="{{ path('edit_kitting_short2', {'jobId': job.id, 'shortId': (job.kitting.kittingShort2) ? job.kitting.kittingShort2.id : 0}) }}">{{ job.kitting.kittingShort2 ? job.kitting.kittingShort2.partNumber : "" }}</a></td>
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="paintedPart" data-name="paintedPart" data-pk="{{job.kitting.id}}" data-value="{{job.kitting.kittingShort2 ? job.kitting.kittingShort2.paintedPart : 0}}" data-url="{{ path('edit_kitting_short_painted_part', {'shortId': (job.kitting.kittingShort2) ? job.kitting.kittingShort2.id : 0}) }}">{{ job.kitting.kittingShort2 ? job.kitting.kittingShort2.paintedPart : "" }}</a></td>
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="dateNeeded" data-name="dateNeeded" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short_date_needed', {'shortId': (job.kitting.kittingShort2) ? job.kitting.kittingShort2.id : 0}) }}">{{ job.kitting.kittingShort2 and job.kitting.kittingShort2.dateNeeded ? job.kitting.kittingShort2.dateNeeded | date('Y-m-d') : "" }}</a></td>
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="estimatedDeliveryDate" data-name="estimatedDeliveryDate" data-pk="{{ job.kitting ? job.kitting.id }}" data-url="{{ path('edit_kitting_short_estimated_delivery_date', { 'shortId': (job.kitting and job.kitting.kittingShort2) ? job.kitting.kittingShort2.id : 0}) }}">{{ job.kitting.kittingShort2 and job.kitting.kittingShort2.estimatedDeliveryDate ? job.kitting.kittingShort2.estimatedDeliveryDate | date('Y-m-d') : "" }}</a></td>
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="receivedDate" data-name="receivedDate" data-pk="{{ job.kitting ? job.kitting.id }}" data-url="{{ path('edit_kitting_short_received_date', { 'shortId': (job.kitting and job.kitting.kittingShort1) ? job.kitting.kittingShort1.id : 0}) }}">{{ job.kitting.kittingShort2 and job.kitting.kittingShort2.receivedDate ? job.kitting.kittingShort2.receivedDate | date('Y-m-d') : "" }}</a></td>
                {% endif %}
                {# Short #3 #}
                {% if job.kitting.kittingShort3 is null %}
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="shortPartNumber" data-name="shortPartNumber" data-pk="{{job.kitting.id}}" data-value="{{job.kitting.kittingShort3 ? job.kitting.kittingShort3.partNumber}}" data-url="{{ path('edit_kitting_short3', {'jobId': job.id, 'shortId': (job.kitting.kittingShort3) ? job.kitting.kittingShort3.id : 0}) }}">{{ job.kitting.kittingShort3 ? job.kitting.kittingShort3.partNumber : "" }}</a></td>
                    <td></td><td></td><td></td><td></td>
                {% else %}
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="shortPartNumber" data-name="shortPartNumber" data-pk="{{job.kitting.id}}" data-value="{{job.kitting.kittingShort3 ? job.kitting.kittingShort3.partNumber}}" data-url="{{ path('edit_kitting_short3', {'jobId': job.id, 'shortId': (job.kitting.kittingShort3) ? job.kitting.kittingShort3.id : 0}) }}">{{ job.kitting.kittingShort3 ? job.kitting.kittingShort3.partNumber : "" }}</a></td>
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="paintedPart" data-name="paintedPart" data-pk="{{job.kitting.id}}" data-value="{{job.kitting.kittingShort3 ? job.kitting.kittingShort3.paintedPart : 0}}" data-url="{{ path('edit_kitting_short_painted_part', {'shortId': (job.kitting.kittingShort3) ? job.kitting.kittingShort3.id : 0}) }}">{{ job.kitting.kittingShort3 ? job.kitting.kittingShort3.paintedPart : "" }}</a></td>
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="dateNeeded" data-name="dateNeeded" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short_date_needed', {'shortId': (job.kitting.kittingShort3) ? job.kitting.kittingShort3.id : 0}) }}">{{ job.kitting.kittingShort3 and job.kitting.kittingShort3.dateNeeded ? job.kitting.kittingShort3.dateNeeded | date('Y-m-d') : "" }}</a></td>
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="estimatedDeliveryDate" data-name="estimatedDeliveryDate" data-pk="{{ job.kitting ? job.kitting.id }}" data-url="{{ path('edit_kitting_short_estimated_delivery_date', { 'shortId': (job.kitting and job.kitting.kittingShort3) ? job.kitting.kittingShort3.id : 0}) }}">{{ job.kitting.kittingShort3 and job.kitting.kittingShort3.estimatedDeliveryDate ? job.kitting.kittingShort3.estimatedDeliveryDate | date('Y-m-d') : "" }}</a></td>
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="receivedDate" data-name="receivedDate" data-pk="{{ job.kitting ? job.kitting.id }}" data-url="{{ path('edit_kitting_short_received_date', { 'shortId': (job.kitting and job.kitting.kittingShort1) ? job.kitting.kittingShort1.id : 0}) }}">{{ job.kitting.kittingShort3 and job.kitting.kittingShort3.receivedDate ? job.kitting.kittingShort3.receivedDate | date('Y-m-d') : "" }}</a></td>
                {% endif %}
                {# Short #4 #}
                {% if job.kitting.kittingShort4 is null %}
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="shortPartNumber" data-name="shortPartNumber" data-pk="{{job.kitting.id}}" data-value="{{job.kitting.kittingShort4 ? job.kitting.kittingShort4.partNumber}}" data-url="{{ path('edit_kitting_short4', {'jobId': job.id, 'shortId': (job.kitting.kittingShort4) ? job.kitting.kittingShort4.id : 0}) }}">{{ job.kitting.kittingShort4 ? job.kitting.kittingShort4.partNumber : "" }}</a></td>
                    <td></td><td></td><td></td><td></td>
                {% else %}
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="shortPartNumber" data-name="shortPartNumber" data-pk="{{job.kitting.id}}" data-value="{{job.kitting.kittingShort4 ? job.kitting.kittingShort4.partNumber}}" data-url="{{ path('edit_kitting_short4', {'jobId': job.id, 'shortId': (job.kitting.kittingShort4) ? job.kitting.kittingShort4.id : 0}) }}">{{ job.kitting.kittingShort4 ? job.kitting.kittingShort4.partNumber : "" }}</a></td>
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="paintedPart" data-name="paintedPart" data-pk="{{job.kitting.id}}" data-value="{{job.kitting.kittingShort4 ? job.kitting.kittingShort4.paintedPart : 0}}" data-url="{{ path('edit_kitting_short_painted_part', {'shortId': (job.kitting.kittingShort4) ? job.kitting.kittingShort4.id : 0}) }}">{{ job.kitting.kittingShort4 ? job.kitting.kittingShort4.paintedPart : "" }}</a></td>
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="dateNeeded" data-name="dateNeeded" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short_date_needed', {'shortId': (job.kitting.kittingShort4) ? job.kitting.kittingShort4.id : 0}) }}">{{ job.kitting.kittingShort4 and job.kitting.kittingShort4.dateNeeded ? job.kitting.kittingShort4.dateNeeded | date('Y-m-d') : "" }}</a></td>
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="estimatedDeliveryDate" data-name="estimatedDeliveryDate" data-pk="{{ job.kitting ? job.kitting.id }}" data-url="{{ path('edit_kitting_short_estimated_delivery_date', { 'shortId': (job.kitting and job.kitting.kittingShort4) ? job.kitting.kittingShort4.id : 0}) }}">{{ job.kitting.kittingShort4 and job.kitting.kittingShort4.estimatedDeliveryDate ? job.kitting.kittingShort4.estimatedDeliveryDate | date('Y-m-d') : "" }}</a></td>
                    <td {% if late %}style="color:white"{% endif %}><a href="#" class="receivedDate" data-name="receivedDate" data-pk="{{ job.kitting ? job.kitting.id }}" data-url="{{ path('edit_kitting_short_received_date', { 'shortId': (job.kitting and job.kitting.kittingShort1) ? job.kitting.kittingShort1.id : 0}) }}">{{ job.kitting.kittingShort4 and job.kitting.kittingShort4.receivedDate ? job.kitting.kittingShort4.receivedDate | date('Y-m-d') : "" }}</a></td>
                {% endif %}
                {# Paint #}
                <td {% if late %}style="color:white"{% endif %}>
                    <a href="#" class="paintLocation" data-name="paintLocation" data-pk="{{job.id}}" data-value="{{job.paint ? job.paint.location}}" data-url="{{ path('edit_paint_location', {'paintId': job.paint ? job.paint.id : 0}) }}">{{ job.paint ? job.paint.location : "" }}</a>
                    {# Hyperlink to Paint: Active Batches if there's no paint location via Batch number #}
                    {% if job.paint and job.paint.location is null %}
                        <p>
                            {% if (job.paint.color1 and job.paint.batch1 is null) or (job.paint.color2 and job.paint.batch2 is null) %}
                                <a href="#" data-toggle="tooltip" title="No batch assigned yet"><i class="fa fa-info-circle"></i>INFO</i></a>
                            {% else %}
                                {% set batchIds = job.paint.batch1.id %}
                                {# Concatenate the second batch number if there's two colors #}
                                {% if job.paint.batch2 %}
                                    {% set batchIds = batchIds ~ ',' ~ job.paint.batch2.id %}
                                {% endif %}
                                <a href="{{path('paint_view3', {'batch': batchIds, 'show_all_batches':1})}}" data-toggle="tooltip" title="Links to Paint: Active Batches view"><i class="fa fa-info-circle"></i>INFO</i></a>
                            {% endif %}
                        </p>
                    {% endif %}
                </td>
                {# Scheduling #}
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="subReady" data-name="subReady" data-pk="{{job.id}}" data-value="{{ job.scheduling.subReady }}" data-url="{{ path('edit_scheduling_sub_ready', {'jobId': job.id}) }}">{{ job.scheduling.subReady ? "Yes" : "No"}}</a></td>
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="schedulingCompletionDate" data-name="schedulingCompletionDate" data-pk="{{job.id}}" data-url="{{ path('edit_scheduling_completion_date', {'jobId': job.id}) }}">{{ job.scheduling.completionDate ? job.scheduling.completionDate | date('Y-m-d') : "" }}</a></td>
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="priority" data-name="priority" data-pk="{{job.id}}" data-value="{{ job.scheduling.priority }}" data-url="{{ path('edit_scheduling_priority', {'jobId': job.id}) }}">
                    {% if job.scheduling.priority == -1 %}
                        Extra
                    {% elseif job.scheduling.priority == 0 %}
                        Normal
                    {% elseif job.scheduling.priority == 1 %}
                        Custom
                    {% elseif job.scheduling.priority == 2 %}
                        Urgent
                    {% elseif job.scheduling.priority == 3 %}
                        Rush
                    {% elseif job.scheduling.priority == 4 %}
                        RMA
                    {% else %}
                        Unknown
                    {% endif %}
                </a></td>
                {# Shipped #}
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="shipDate" data-name="shipDate" data-pk="{{job.id}}" data-url="{{ path('edit_shipping_ship_date', {'jobId': job.id}) }}">{{ job.shipping and job.shipping.shipDate ? job.shipping.shipDate | date('Y-m-d') : "" }}</a></td>
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="isComplete" data-name="isComplete" data-pk="{{job.id}}" data-value="{{job.shipping ? job.shipping.isComplete : '' }}" data-url="{{ path('edit_shipping_is_complete', {'jobId': job.id}) }}">
                    {% if job.shipping and job.shipping.isComplete == 2 %}
                        Complete
                    {% elseif job.shipping and job.shipping.isComplete == 1 %}
                        Partial
                    {% else %}
                        Empty
                    {% endif %}
                </a></td>
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="secondShipDate" data-name="secondShipDate" data-pk="{{job.id}}" data-url="{{ path('edit_shipping_second_ship_date', {'jobId': job.id}) }}">{{ job.shipping and job.shipping.secondShipDate ? job.shipping.secondShipDate | date('Y-m-d') : "" }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('.table').fixedThead({
          height: 500,
          row: 2,
          col: 3
        });
        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';

        $("input[name='esd_date_from'").datepicker({
            dateFormat: 'yy-mm-dd',
        });
        $("input[name='esd_date_to'").datepicker({
            dateFormat: 'yy-mm-dd',
        });

        $('.name').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Job Name',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.salesOrder').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Sales Order #',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.estimatedShipDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Enter Estimated Ship Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.type').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Type',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.model').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Model',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.quantity').each(function(i, obj) {
            $(this).editable({
                type: 'number',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Quantity',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.manufacturingOrder').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Manufacturing Order #',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.macPurchaseOrder').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter MAC Purchase Order #',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.buildLocation').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                emptytext: 'Empty',
                container: 'body',
                placement: 'left',
                value: obj.dataset.value,
                source: [
                  {value: 1, text: 'V2'},
                  {value: 2, text: 'MAC'},
                ],
                url: obj.dataset.url,
                title: 'Build Location',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.plannerEstimatedShipDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Enter Planner Estimated Ship Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.shipDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Ship Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.isComplete').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                emptytext: 'Empty',
                container: 'body',
                placement: 'left',
                value: obj.dataset.value,
                source: [
                  {value: 2, text: 'Complete'},
                  {value: 1, text: 'Partial'}
                ],
                url: obj.dataset.url,
                title: 'Is Complete?',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.secondShipDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Second Ship Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.issuedDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Issued Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.kittingLocation').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Kit Location',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.kittingCompletionDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Completion Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.filledCompletely').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                container: 'body',
                emptytext: 'Empty',
                source: [
                  {value: 1, text: 'Yes'},
                  {value: 0, text: 'No'}
                ],
                value: obj.dataset.value,
                url: obj.dataset.url,
                title: 'Select Completion Status',
                success: function(response, newValue) {
                    if (response.status == 'error') {
                        return response.msg; //msg will be shown in editable form
                    }
                }
            });
        });

        $('.shortPartNumber').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Part Number',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                    else {
                        // If we added a new short/part, reload the page so that user can fill in the rest of the fields
                        if (typeof $(".paintedPart:eq(" + i + ")").data('url') == 'undefined') {
                            location.reload();
                        }

                        var newUrl = $(".shortPartNumber:eq(" + i + ")").data('url').replace("0", response.shortId);
                        $(".shortPartNumber:eq(" + i + ")").attr('data-url', newUrl);
                        $(".shortPartNumber:eq(" + i + ")").editable('option','url', newUrl);
                        newUrl = $(".paintedPart:eq(" + i + ")").data('url').replace("0", response.shortId);
                        $(".paintedPart:eq(" + i + ")").attr('data-url', newUrl);
                        $(".paintedPart:eq(" + i + ")").editable('option','url', newUrl);
                        newUrl = $(".dateNeeded:eq(" + i + ")").data('url').replace("0", response.shortId);
                        $(".dateNeeded:eq(" + i + ")").attr('data-url', newUrl);
                        $(".dateNeeded:eq(" + i + ")").editable('option','url', newUrl);
                        newUrl = $(".notes:eq(" + i + ")").data('url').replace("0", response.shortId);
                        $(".notes:eq(" + i + ")").attr('data-url', newUrl);
                        $(".notes:eq(" + i + ")").editable('option','url', newUrl);
                    }
                }
            });
        });

        $('.paintedPart').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                emptytext: 'Empty',
                container: 'body',
                placement: 'left',
                value: obj.dataset.value,
                source: [
                  {value: 1, text: 'Yes'},
                  {value: 0, text: 'No'},
                ],
                url: obj.dataset.url,
                title: 'Painted Part',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.dateNeeded').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Date Needed',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.estimatedDeliveryDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Estimated Delivery Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.modDoneDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Mod Done Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.receivedDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Received Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.notes').each(function(i, obj) {
            $(this).editable({
                type: 'textarea',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter notes',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.paintLocation').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Paint Location',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.subReady').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                emptytext: 'Empty',
                container: 'body',
                placement: 'left',
                value: obj.dataset.value,
                source: [
                  {value: 1, text: 'Yes'},
                  {value: 0, text: 'No'},
                ],
                url: obj.dataset.url,
                title: 'SubReady?',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.schedulingCompletionDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Completion Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.priority').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                emptytext: 'Normal',
                container: 'body',
                placement: 'left',
                value: obj.dataset.value,
                source: [
                  {value: 4, text: 'RMA'},
                  {value: 3, text: 'Rush'},
                  {value: 2, text: 'Hot'},
                  {value: 1, text: 'Custom'},
                  {value: 0, text: 'Normal'},
                  {value: -1, text: 'Extra'},
                ],
                url: obj.dataset.url,
                title: 'Enter a priority for the Job',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        // $('.priorityBomBuilder').each(function(i, obj) {
        //     $(this).editable({
        //         type: 'number',
        //         container: 'body',
        //         placement: 'left',
        //         url: obj.dataset.url,
        //         title: 'Enter a priority for the BOM Builder',
        //         success: function(response, newValue) {
        //             if (response.status == 'error') return response.msg; //msg will be shown in editable form
        //         }
        //     });
        // });

        // $('.priorityKitter').each(function(i, obj) {
        //     $(this).editable({
        //         type: 'number',
        //         container: 'body',
        //         placement: 'left',
        //         url: obj.dataset.url,
        //         title: 'Enter a priority for the kitter',
        //         success: function(response, newValue) {
        //             if (response.status == 'error') return response.msg; //msg will be shown in editable form
        //         }
        //     });
        // });

        // $('.priorityMacProduction').each(function(i, obj) {
        //     $(this).editable({
        //         type: 'number',
        //         container: 'body',
        //         placement: 'left',
        //         url: obj.dataset.url,
        //         title: 'Enter a priority for MAC Production',
        //         success: function(response, newValue) {
        //             if (response.status == 'error') return response.msg; //msg will be shown in editable form
        //         }
        //     });
        // });

        // $('.priorityV2Production').each(function(i, obj) {
        //     $(this).editable({
        //         type: 'number',
        //         container: 'body',
        //         placement: 'left',
        //         url: obj.dataset.url,
        //         title: 'Enter a priority for V2 Production',
        //         success: function(response, newValue) {
        //             if (response.status == 'error') return response.msg; //msg will be shown in editable form
        //         }
        //     });
        // });

        // $('.priorityShipper').each(function(i, obj) {
        //     $(this).editable({
        //         type: 'number',
        //         container: 'body',
        //         placement: 'left',
        //         url: obj.dataset.url,
        //         title: 'Enter a priority for the shipper',
        //         success: function(response, newValue) {
        //             if (response.status == 'error') return response.msg; //msg will be shown in editable form
        //         }
        //     });
        // });

    });
    </script>
{% endblock %}