{% extends 'base.html.twig' %}

{% block headerTitle %}Manufacturer Parts{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>Manufacturer Parts</span></li>
{% endblock %}

{% block body %}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form action="{{ path('manufacturer') }}" method="GET">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="form-label">Date Needed Range</label>
                        <div class="input-daterange input-group">
                            <input type="text" name="date_needed_from" value="{{ date_needed_from }}" class="form-control">
                            <span class="input-group-addon">to</span>
                            <input type="text" name="date_needed_to" value="{{ date_needed_to }}" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Part number</label>
                        <input type="text" name="part_number" value="{{ part_number }}" placeholder="Type in part number" class="form-control">
                    </div>
                    <div class="col-sm-2">
                        <label class="form-label">Sales Order #</label>
                        <input type="text" name="sales_order" value="{{ sales_order }}" placeholder="Type in SO #" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-info" value="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h2>Manufacturer Part list</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="border:solid;width:10ch">Part Number</th>
            <th style="border:solid;width:4ch">Qty</th>
            <th style="border:solid;width:7ch">Date Needed</th>
            <th style="border:solid;width:6ch">Mod WO#</th>
            <th style="border:solid;width:7ch">RCVD Date</th>
            <th style="border:solid;min-width:20ch">Notes</th>
            <th style="border:solid;width:10ch">Job Name</th>
            <th style="border:solid;width:6ch">Job SO #</th>
        </tr>
        </thead>
        <tbody>
            {% for part in parts %}
                {% set late = 0 %}
                {% if part.dateNeeded and part.dateNeeded < date() and part.modDoneDate is null %}
                    {% set late = 1 %}
                {% endif %}
            <tr {% if late %}bgcolor="lightcoral"{% endif %}>
                <td style="word-break:break-all;{% if late %}color:white{% endif %}">{{ part.partNumber}}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ part.kitting and part.kitting.job ? part.kitting.job.quantity }}</td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_MANUFACTURER') %}
                        <a href="#" class="dateNeeded" data-name="dateNeeded" data-pk="{{ part.id }}" data-url="{{ path('edit_kitting_short_date_needed', { 'shortId': part.id }) }}">{{ part.dateNeeded ? part.dateNeeded | date('Y-m-d') : "" }}</a>
                    {% else %}
                        {{ part.dateNeeded ? part.dateNeeded | date('Y-m-d') : "" }}
                    {% endif %}
                </td>
                <td {% if late %}style="color:white"{% endif %}>{{ part.modWo }}</td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_MANUFACTURER') %}
                        <a href="#" class="receivedDate" data-name="receivedDate" data-pk="{{ part.id }}" data-url="{{ path('edit_kitting_short_received_date', { 'shortId': part.id }) }}">{{ part.receivedDate ? part.receivedDate | date('Y-m-d') : "" }}</a>
                    {% else %}
                        {{ part.receivedDate ? part.receivedDate | date('Y-m-d') : "" }}
                    {% endif %}
                </td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_MANUFACTURER') %}
                        <a href="#" class="notes" data-name="notes" data-pk="{{ part.id }}" data-url="{{ path('edit_kitting_short_notes', {'shortId': part.id }) }}">{{ part.notes }}</a>
                    {% else %}
                        {{ part.notes }}
                    {% endif %}
                </td>
                <td style="font-size:small; {% if late %}color:white{% endif %}">{{ part.kitting and part.kitting.job ? part.kitting.job.name }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ part.kitting and part.kitting.job ? part.kitting.job.salesOrder }}</td>   
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('.table').fixedThead({
          height: 400,
          row: 1,
          col: 1
        });
        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';

        $("input[name='date_needed_from'").datepicker({
            dateFormat: 'yy-mm-dd',
        });        
        $("input[name='date_needed_to'").datepicker({
            dateFormat: 'yy-mm-dd',
        });        
        
        $('.estimatedDeliveryDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Estimated Delivery Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.receivedDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Received Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.dateNeeded').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Date Needed',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.notes').each(function(i, obj) {
            $(this).editable({
                type: 'textarea',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter notes',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        // $('.partsPulledDate').each(function(i, obj) {
        //     $(this).editable({
        //         type: 'date',
        //         container: 'body',
        //         placement: 'left',
        //         url: obj.dataset.url,
        //         title: 'Select Parts Pulled Date',
        //         success: function(response, newValue) {
        //             if (response.status == 'error') return response.msg; //msg will be shown in editable form
        //         }
        //     });
        // });
        
    });
    </script>
{% endblock %}