{% extends 'base.html.twig' %}

{% block headerTitle %}Supply Chain Parts{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span style="padding-top:10px">Supply Chain Parts</span></li>
{% endblock %}

{% block afterBreadcrumbs %}
    <span style="float:right">
        <a href="{{ path('export_supply_chain', {'part_number': part_number, 'vendor': vendor, 'name': name}) }}" class="btn btn-sm btn-success">Export to CSV</a>
        <a href="{{ path('create_part') }}" class="btn btn-sm btn-warning">Create New Part</a>
    </span>
{% endblock %}

{% block body %}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form action="{{ path('supply_chain') }}" method="GET">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-label">Part number</label>
                        <input type="text" name="part_number" value="{{ part_number }}" placeholder="Type in part number" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Vendor</label>
                        <input type="text" id="vendor" name="vendor" value="{{ vendor }}" placeholder="Type in vendor" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Job Name</label>
                        <input type="text" name="name" value="{{ name }}" placeholder="Type in job name" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-info" value="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h2>Supply Chain Parts list</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="border:solid;min-width:9.5ch">Part #</th>
            <th style="border:solid;width:7ch;font-size:x-small">Date Needed</th>
            <th style="border:solid;width:7ch">EDD</th>
            <th style="border:solid;width:15ch">Vendor</th>
            <th style="border:solid;width:11ch">Vendor PO#</th>
            <th style="border:solid;width:6ch">Mod WO#</th>
            <th style="border:solid;width:7ch">RCVD Date</th>
            <th style="border:solid;width:20ch">Notes</th>
            <th style="border:solid;width:15ch">Job Name</th>
            <th style="border:solid;width:10ch">Type</th>
            <th style="border:solid;width:6ch">Job SO #</th>
            <th style="border:solid;width:4ch">Qty</th>
        </tr>
        <tr>
        </tr>            
        </thead>
        <tbody>
            {% for part in parts %}
                {% set late = 0 %}
                {# highlight red if vendor PO# or Mod WO# is empty 3 days after updated by date #}
                {% if (part.vendorPoNumber is null or part.modWo is null) and part.updateTime < (date()|date_modify("-3 days")) %}
                    {% set late = 1 %}
                {% endif %}
                {# highlight purple if EDD date is later than date needed #}
                {% if part.dateNeeded and part.estimatedDeliveryDate and part.estimatedDeliveryDate > part.dateNeeded %}
                    {% set late = 2 %}
                {% endif %}                
            <tr {% if late == 1 %}bgcolor="lightcoral"{% elseif late == 2 %}bgcolor="plum"{% endif %}>
                <td style="font-size:small;word-break:break-all;{% if late %}color:white{% endif %}">{{ part.partNumber}}</td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_SUPPLY_CHAIN') %}
                        <a href="#" class="dateNeeded" data-name="dateNeeded" data-pk="{{ part.id }}" data-url="{{ path('edit_kitting_short_date_needed', { 'shortId': part.id }) }}">{{ part.dateNeeded ? part.dateNeeded | date('Y-m-d') : "" }}</a>
                        {% else %}
                            {{ part.dateNeeded ? part.dateNeeded | date('Y-m-d') : "" }}
                        {% endif %}
                </td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_SUPPLY_CHAIN') %}
                        <a href="#" class="estimatedDeliveryDate" data-name="estimatedDeliveryDate" data-pk="{{ part.id }}" data-url="{{ path('edit_kitting_short_estimated_delivery_date', {'shortId': part.id }) }}">{{ part.estimatedDeliveryDate ? part.estimatedDeliveryDate | date('Y-m-d') : "" }}</a>
                    {% else %}
                        {{ part.estimatedDeliveryDate ? part.estimatedDeliveryDate | date('Y-m-d') : "" }}
                    {% endif %}
                </td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_SUPPLY_CHAIN') %}
                        <a href="#" class="vendor" data-name="vendor" data-pk="{{ part.id }}" data-url="{{ path('edit_kitting_short_vendor', {'shortId': part.id }) }}">{{ part.vendor }}</a>
                    {% else %}
                        {{ part.vendor }}
                    {% endif %}
                </td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_SUPPLY_CHAIN') %}
                        <a href="#" class="vendorPoNumber" data-name="vendorPoNumber" data-pk="{{ part.id }}" data-url="{{ path('edit_kitting_short_vendor_po_number', {'shortId': part.id}) }}">{{ part.vendorPoNumber }}</a>
                    {% else %}
                        {{ part.vendorPoNumber }}
                    {% endif %}
                </td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_SUPPLY_CHAIN') %}
                        <a href="#" class="modWo" data-name="modWo" data-pk="{{ part.id }}" data-url="{{ path('edit_kitting_short_mod_wo', {'shortId': part.id}) }}">{{ part.modWo }}</a>
                    {% else %}
                        {{ part.modWo }}
                    {% endif %}
                </td>
                <td {% if late %}style="color:white"{% endif %}>{{ part.receivedDate ? part.receivedDate | date('Y-m-d') : "" }}</td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_SUPPLY_CHAIN') %}
                        <a href="#" class="notes" data-name="notes" data-pk="{{ part.id }}" data-url="{{ path('edit_kitting_short_notes', {'shortId': part.id}) }}">{{ part.notes }}</a>
                    {% else %}
                        {{ part.notes }}
                    {% endif %}
                </td>
                <td style="font-size:small;word-break:break-all; {% if late %}color:white{% endif %}">{{ part.kitting and part.kitting.job ? part.kitting.job.name }}</td>
                <td style="font-size:small;word-break:break-all; {% if late %}color:white{% endif %}">{{ part.kitting and part.kitting.job ? part.kitting.job.type }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ part.kitting and part.kitting.job ? part.kitting.job.salesOrder }}</td>   
                <td {% if late %}style="color:white"{% endif %}>{{ part.kitting and part.kitting.job ? part.kitting.job.quantity : part.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('.table').fixedThead({
          height: 500,
          row: 1,
          col: 1
        });
        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';

        $('.dateNeeded').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Date Needed',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.estimatedDeliveryDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Estimated Delivery Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.notes').each(function(i, obj) {
            $(this).editable({
                type: 'textarea',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter notes',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.vendor').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter vendor',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        
        $('.vendorPoNumber').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter vendor PO#',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.modWo').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Mod WO#',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.name').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Job Name',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.salesOrder').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Sales Order #',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.quantity').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Quantity',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

    });
    </script>
{% endblock %}