{% extends 'base.html.twig' %}

{% block headerTitle %}Jobs{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>Jobs</span></li>
{% endblock %}

{% block body %}
    <div style="height:30px">
        <span style="float:right"><a href="{{ path('create_job') }}" class="btn btn-primary">Create New Job</a></span>
    </div>
    <h2>Job list</h2>
    <table class="table table-bordered table-striped table-hover table-freeze-multi" data-scroll-height="500" data-cols-number="2">
        <thead>
        <tr style="background-color:white">
            <th style="width:100px;border:solid">Name</th>
            <th style="width:100px;border:solid">SO #</th>
            <th style="width:100px;border:solid">ESD</th>
            <th style="width:100px;border:solid">Type</th>
            <th style="width:100px;border:solid">Model</th>
            <th style="width:100px;border:solid">Qty</th>
            <th style="width:100px;border:solid">MO #</th>
            <th style="width:100px;border:solid">Mac PO #</th>
            <th style="width:100px;border:solid">Build Location</th>
            <th style="width:100px;border:solid">Estimated ESD</th>
        </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td style="width:100px;background-color:white">{{ job.name }}</td>
                <td style="width:100px;background-color:white">{{ job.salesOrder }}</td>
                <td style="width:100px;">{{ job.estimatedShipDate|date('Y-m-d') }}</td>
                <td style="width:100px;">{{ job.type }}</td>
                <td style="width:100px;">{{ job.model }}</td>
                <td style="width:100px;">{{ job.quantity }}</td>
                <td style="width:100px;">{{ job.manufacturingOrder }}</td>
                <td style="width:100px;">{{ job.macPurchaseOrder }}</td>
                <td style="width:100px;">{{ job.buildLocation.name }}</td>
                <td style="width:100px;">
                    {% if job.plannerEstimatedShipDate %}
                        {{ job.plannerEstimatedShipDate|date('Y-m-d') }}
                    {% else %}
                        TBD
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
    function toggleDetails(index)
    {
        $('#details_'+index).toggle();
        $('#button-details-'+index).toggleClass(function() {
            if ($(this).parent().is('glyphicon-collapse-down')) {
                return 'glyphicon-expand';
            } else {
                return 'glyphicon-collapse-down';
            }
        });
    }
    </script>
{% endblock %}