{% extends 'base.html.twig' %}

{% block headerTitle %}Kitter Jobs{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>Kitter Jobs</span></li>
{% endblock %}

{% block body %}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form action="{{ path('kitter') }}" method="GET">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-label">Name</label>
                        <input type="text" name="name" value="{{ name }}" placeholder="Type in name" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Sales Order #</label>
                        <input type="text" name="sales_order" value="{{ sales_order }}" placeholder="Type in SO #" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-info" value="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h2>Kitter Job list <span style="font-size:70%"> (Total jobs: {{ jobs|length }})</span></h2>
        <table class="table table-bordered">
            <tr>
                <th style="border:solid;width:10ch" rowspan=2>Name</th>
                <th style="border:solid;width:6ch" rowspan=2>SO #</th>
                <th style="border:solid;text-align:center" colspan=5>Job</th>
                {% if is_granted('ROLE_KITTER') %}
                    <th style="border:solid;text-align:center" colspan=6>Kitting</th>
                {% else %}
                    <th style="border:solid;text-align:center" colspan=10>Kitting</th>
                {% endif %}
            </tr>
            <tr>
                {# Job #}
                <th style="border:solid;width:10ch">Type</th>
                <th style="border:solid;width:4ch">Qty</th>
                <th style="border:solid;width:6ch">MO #</th>
                <th style="border:solid;width:3ch;font-size:x-small">Build LOC</th>
                <th style="border:solid;width:7ch">Planner ESD</th>
                {# Kitting #}
                <th style="border:solid;width:11ch">Short #1</th>
                {% if is_granted('ROLE_KITTER') == false %}
                    <th style="border:solid;width:11ch;font-size:70%">Short #1 Class</th>
                {% endif %}
                <th style="border:solid;width:11ch">Short #2</th>
                {% if is_granted('ROLE_KITTER') == false %}
                    <th style="border:solid;width:11ch;font-size:70%">Short #2 Class</th>
                {% endif %}
                <th style="border:solid;width:11ch">Short #3</th>
                {% if is_granted('ROLE_KITTER') == false %}
                    <th style="border:solid;width:11ch;font-size:70%">Short #3 Class</th>
                {% endif %}
                <th style="border:solid;width:11ch">Short #4</th>
                {% if is_granted('ROLE_KITTER') == false %}
                    <th style="border:solid;width:11ch;font-size:70%">Short #4 Class</th>
                {% endif %}
                <th style="border:solid;width:3ch">LOC</th>
                <th style="border:solid;width:7ch">Date Kitted</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr {% if job.late == 1 %}bgcolor="lightcoral"{% endif %}>
                <td style="font-size:small; {% if job.late %}color:black{% endif %}">{{ job.name }}</td>
                <td {% if job.late %}style="color:black"{% endif %}>{{ job.salesOrder }}</td>   
                <td {% if job.late %}style="color:black"{% endif %}>{{ job.type }}</td>
                <td {% if job.late %}style="color:black"{% endif %}>{{ job.quantity }}</td>
                <td {% if job.late %}style="color:black"{% endif %}>{{ job.manufacturingOrder }}</td>
                <td {% if job.late %}style="color:black"{% endif %}>{{ job.buildLocation.name }}</td>
                <td {% if job.late %}style="color:black"{% endif %}>
                    {% if job.plannerEstimatedShipDate %}
                        {{ job.plannerEstimatedShipDate|date('Y-m-d') }}
                    {% else %}
                        TBD
                    {% endif %}
                </td>
                <td {% if job.late %}style="color:black"{% endif %}>
                    {% if is_granted('ROLE_KITTER') and job.kitting.kittingShort1 is null %} 
                        <a href="#" class="short1" data-name="short1" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short1', {'jobId': job.id, 'shortId': (job.kitting.kittingShort1)?job.kitting.kittingShort1.id:0}) }}"></a>
                    {% elseif is_granted('ROLE_KITTER') == false %}
                        {{ job.kitting.kittingShort1 ? job.kitting.kittingShort1.partNumber : null }}
                    {% endif %}
                </td>
                {% if is_granted('ROLE_KITTER') == false %}
                <td {% if job.late %}style="color:black"{% endif %}>
                    {% if (job.kitting.kittingShort1 is null) or job.kitting.kittingShort1.shortClass == 0 %}
                        {# Empty #}
                    {% elseif job.kitting.kittingShort1.shortClass == 1 %}
                        Painted part
                    {% elseif job.kitting.kittingShort1.shortClass == 2 %}
                        Ignore
                    {% endif %}
                </td>
                {% endif %}
                <td {% if job.late %}style="color:black"{% endif %}>
                    {% if is_granted('ROLE_KITTER') and job.kitting.kittingShort2 is null %} 
                        <a href="#" class="short2" data-name="short2" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short2', {'jobId': job.id, 'shortId': (job.kitting.kittingShort2)?job.kitting.kittingShort2.id:0}) }}"></a>
                    {% elseif is_granted('ROLE_KITTER') == false %}
                        {{ job.kitting.kittingShort2 ? job.kitting.kittingShort2.partNumber : null }}
                    {% endif %}
                </td>
                {% if is_granted('ROLE_KITTER') == false %}
                <td {% if job.late %}style="color:black"{% endif %}>
                    {% if (job.kitting.kittingShort2 is null) or job.kitting.kittingShort2.shortClass == 0 %}
                        {# Empty #}
                    {% elseif job.kitting.kittingShort2.shortClass == 1 %}
                        Painted part
                    {% elseif job.kitting.kittingShort2.shortClass == 2 %}
                        Ignore
                    {% endif %}
                </td>
                {% endif %}
                <td {% if job.late %}style="color:black"{% endif %}>
                    {% if is_granted('ROLE_KITTER') and job.kitting.kittingShort3 is null %}
                        <a href="#" class="short3" data-name="short3" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short3', {'jobId': job.id, 'shortId': (job.kitting.kittingShort3)?job.kitting.kittingShort3.id:0}) }}"></a>
                    {% elseif is_granted('ROLE_KITTER') == false %}
                        {{ job.kitting.kittingShort3 ? job.kitting.kittingShort3.partNumber : null }}
                    {% endif %}
                </td>
                {% if is_granted('ROLE_KITTER') == false %}
                <td {% if job.late %}style="color:black"{% endif %}>
                    {% if (job.kitting.kittingShort3 is null) or job.kitting.kittingShort3.shortClass == 0 %}
                        {# Empty #}
                    {% elseif job.kitting.kittingShort3.shortClass == 1 %}
                        Painted part
                    {% elseif job.kitting.kittingShort3.shortClass == 2 %}
                        Ignore
                    {% endif %}
                </td>
                {% endif %}
                <td {% if job.late %}style="color:black"{% endif %}>
                    {% if is_granted('ROLE_KITTER') and job.kitting.kittingShort4 is null %}
                        <a href="#" class="short4" data-name="short4" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short4', {'jobId': job.id, 'shortId': (job.kitting.kittingShort4)?job.kitting.kittingShort4.id:0}) }}"></a>
                    {% elseif is_granted('ROLE_KITTER') == false %}
                        {{ job.kitting.kittingShort4 ? job.kitting.kittingShort4.partNumber : null }}
                    {% endif %}
                </td>
                {% if is_granted('ROLE_KITTER') == false %}
                <td {% if job.late %}style="color:black"{% endif %}>
                    {% if (job.kitting.kittingShort4 is null) or job.kitting.kittingShort4.shortClass == 0 %}
                        {# Empty #}
                    {% elseif job.kitting.kittingShort4.shortClass == 1 %}
                        Painted part
                    {% elseif job.kitting.kittingShort4.shortClass == 2 %}
                        Ignore
                    {% endif %}
                </td>
                {% endif %}
                <td {% if job.late %}style="color:black"{% endif %}>
                    {% if is_granted('ROLE_KITTER') %}
                        <a href="#" class="location" data-name="location" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_location', {'jobId': job.id}) }}">{{ job.kitting.location }}</a>
                    {% else %}
                        {{ job.kitting.location }}
                    {% endif %}
                </td>
                <td class="kitDate_{{job.kitting.id}}" {% if job.late %}style="color:black"{% endif %}>
                    <a href="#" class="kitDate" data-name="kitDate" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_kit_date', {'jobId': job.id}) }}">{{job.kitting.kitDate ? job.kitting.kitDate | date('Y-m-d') : ""}}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
    function pad(str)
    {
        if (str.length == 1) {
            return "0" + str;
        } else {
            return str;
        }
    }

    $(document).ready(function() {
        $('.table').fixedThead({
          height: 400,
          row: 2,
          col: 2
        });

        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';

        $('.filledCompletely').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                container: 'body',
                emptytext: 'Empty',
                source: [
                  {value: 1, text: 'Yes'},
                  {value: 0, text: 'No'}
                ],
                url: obj.dataset.url,
                title: 'Select Completion Status',
                success: function(response, newValue) {
                    if (response.status == 'error') {
                        return response.msg; //msg will be shown in editable form
                    } else {
                        var now = new Date();
                        var month = now.getMonth() + 1;
                        var date = now.getDate();
                        var nowStr = pad(month.toString()) + "-" + pad(date.toString());
                        $(".kitDate_" + obj.dataset.pk).text(nowStr);
                    }
                }
            });
        });

        $('.kitDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Date Kitted',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        // $('.completionDate').each(function(i, obj) {
        //     $(this).editable({
        //         type: 'date',
        //         container: 'body',
        //         placement: 'left',
        //         url: obj.dataset.url,
        //         title: 'Select Completion Date',
        //         success: function(response, newValue) {
        //             if (response.status == 'error') return response.msg; //msg will be shown in editable form
        //         }
        //     });
        // });
        
        $('.short1').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Part Number for Short #1',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.short2').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Part Number for Short #2',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.short3').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Part Number for Short #3',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.short4').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Part Number for Short #4',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.location').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter location',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        
    });
    </script>
{% endblock %}