{% extends 'base.html.twig' %}

{% block headerTitle %}Short Kits{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>Short Kits</span></li>
{% endblock %}

{% block body %}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form action="{{ path('short_kits') }}" method="GET">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-label">Name</label>
                        <input type="text" name="name" value="{{ name }}" placeholder="Type in name" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Sales Order #</label>
                        <input type="text" name="sales_order" value="{{ sales_order }}" placeholder="Type in SO #" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-info" value="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h2>Short Kits list</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="border:solid;width:10ch" rowspan=2>Name</th>
                <th style="border:solid;width:6ch" rowspan=2>SO #</th>
                <th style="border:solid;text-align:center" colspan=5>Job</th>
                <th style="border:solid;text-align:center" colspan=7>Kitting</th>
            </tr>
            <tr>
                {# Job #}
                <th style="border:solid;width:10ch">Type</th>
                <th style="border:solid;width:4ch">Qty</th>
                <th style="border:solid;width:6ch">MO #</th>
                <th style="border:solid;width:3ch;font-size:x-small">Build LOC</th>
                <th style="border:solid;width:7ch">Planner ESD</th>
                {# Kitting #}
                <th style="border:solid;width:11ch">Short #1</th>
                <th style="border:solid;width:11ch">Short #2</th>
                <th style="border:solid;width:11ch">Short #3</th>
                <th style="border:solid;width:11ch">Short #4</th>
                <th style="border:solid;width:3ch">LOC</th>
                <th style="border:solid;width:3ch">100% Filled?</th>
                <th style="border:solid;width:7ch">Completion Date</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
                {% set late = 0 %}
                {% if job.estimatedShipDate and job.plannerEstimatedShipDate and job.plannerEstimatedShipDate < date() and job.kitting.completionDate is null %}
                    {% set difference1 = date(job.plannerEstimatedShipDate).diff(date()) %}
                    {% if difference1.days > 10 %}
                        {% set late = 1 %}
                    {% endif %}
                {% endif %}
                {% if job.plannerEstimatedShipDate is not null and (job.kitting.filledCompletely is null or job.kitting.filledCompletely == 0) %}
                    {% set difference2 = date(job.plannerEstimatedShipDate).diff(date()) %}
                    {% if difference2.days <= 14 %}
                        {% set late = 2 %}
                    {% endif %}
                {% endif %}
            <tr {% if late == 1 %}bgcolor="lightcoral"{% elseif late == 2 %}bgcolor="plum"{% endif %}>
                <td style="font-size:small; {% if late %}color:white{% endif %}">{{ job.name }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ job.salesOrder }}</td>   
                <td {% if late %}style="color:white"{% endif %}>{{ job.type }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ job.quantity }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ job.manufacturingOrder }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ job.buildLocation.name }}</td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if job.plannerEstimatedShipDate %}
                        {{ job.plannerEstimatedShipDate|date('m-d') }}
                    {% else %}
                        TBD
                    {% endif %}
                </td>
                <td style="word-break:break-all;{% if late %}color:white{% endif %}"><a href="#" class="short1" data-name="short1" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short1', {'jobId': job.id, 'shortId': (job.kitting.kittingShort1)?job.kitting.kittingShort1.id:0}) }}">{{ job.kitting.kittingShort1 ? job.kitting.kittingShort1.partNumber : null }}</a></td>
                <td style="word-break:break-all;{% if late %}color:white{% endif %}"><a href="#" class="short2" data-name="short2" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short2', {'jobId': job.id, 'shortId': (job.kitting.kittingShort2)?job.kitting.kittingShort2.id:0}) }}">{{ job.kitting.kittingShort2 ? job.kitting.kittingShort2.partNumber : null }}</a></td>
                <td style="word-break:break-all;{% if late %}color:white{% endif %}"><a href="#" class="short3" data-name="short3" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short3', {'jobId': job.id, 'shortId': (job.kitting.kittingShort3)?job.kitting.kittingShort3.id:0}) }}">{{ job.kitting.kittingShort3 ? job.kitting.kittingShort3.partNumber : null }}</a></td>
                <td style="word-break:break-all;{% if late %}color:white{% endif %}"><a href="#" class="short4" data-name="short4" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short4', {'jobId': job.id, 'shortId': (job.kitting.kittingShort4)?job.kitting.kittingShort4.id:0}) }}">{{ job.kitting.kittingShort4 ? job.kitting.kittingShort4.partNumber : null }}</a></td>
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="location" data-name="location" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_location', {'jobId': job.id}) }}">{{ job.kitting.location }}</a></td>
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="filledCompletely" data-name="filledCompletely" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_filled_completely', {'jobId': job.id}) }}">
                    {% if job.kitting.filledCompletely is null %}
                        Empty
                    {% elseif job.kitting.filledCompletely == 0 %}
                        No
                    {% elseif job.kitting.filledCompletely == 1 %}
                        Yes
                    {% endif %}
                    </a></td>
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="completionDate" data-name="completionDate" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_completion_date', {'jobId': job.id}) }}">{{job.kitting.completionDate ? job.kitting.completionDate | date('m-d') : ""}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('.table').fixedThead({
          height: 400,
          row: 2,
          col: 2
        });

        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';

        $('.filledCompletely').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                container: 'body',
                emptytext: 'Empty',
                source: [
                  {value: 1, text: 'Yes'},
                  {value: 0, text: 'No'}
                ],
                url: obj.dataset.url,
                title: 'Select Completion Status',
                success: function(response, newValue) {
                    if (response.status == 'error') {
                        return response.msg; //msg will be shown in editable form
                    }
                }
            });
        });

        $('.completionDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Completion Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        
        $('.short1').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Part Number for Short #1',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.short2').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Part Number for Short #2',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.short3').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Part Number for Short #3',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.short4').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Part Number for Short #4',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.location').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter location',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        
    });
    </script>
{% endblock %}