{% extends 'base.html.twig' %}

{% block headerTitle %}BOM Builder Jobs{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>BOM Builder Jobs</span></li>
{% endblock %}

{% block body %}
    <h2>BOM Builder Job list</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th style="border:solid" rowspan=2>Name</th>
                <th style="border:solid" rowspan=2>SO #</th>
                <th style="border:solid" rowspan=2>Type</th>
                <th style="border:solid" rowspan=2>Model</th>
                <th style="border:solid" rowspan=2>Qty</th>
                <th style="border:solid" rowspan=2>MO #</th>
                <th style="border:solid" rowspan=2>Build Location</th>
                <th style="border:solid" rowspan=2>Planner ESD (Week #)</th>
                <th style="border:solid;text-align:center" colspan=4>Shipped</th>
                <th style="border:solid;text-align:center" colspan=2>BOM</th>
                <th style="border:solid" rowspan=2>Last Updated by</th>
            </tr>
            <tr>
                {# Shipped #}
                <th style="border:solid">Serials Generated Date</th>
                <th style="border:solid">Date</th>
                <th style="border:solid">Complete or Partial</th>
                <th style="border:solid">2nd Shipped Date</th>
                {# BOM #}
                <th style="border:solid">Issued Date</th>
                <th style="border:solid">Issued By</th>
            </tr>            
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{ job.name }}</td>
                    <td>{{ job.salesOrder }}</td>   
                    <td>{{ job.type }}</td>
                    <td>{{ job.model }}</td>
                    <td>{{ job.quantity }}</td>
                    <td>{{ job.manufacturingOrder }}</td>
                    <td>{{ job.buildLocation.name }}</td>
                    <td>
                        {% if job.plannerEstimatedShipDate %}
                            {{ job.plannerEstimatedShipDate|date('Y-m-d') }} ({{ job.plannerEstimatedShipDate|date('W') }})
                        {% else %}
                            TBD
                        {% endif %}
                    </td>
                    {# Shipped #}
                    <td><a href="#" class="serialsGeneratedDate" data-name="serialsGeneratedDate" data-pk="{{job.id}}" data-url="{{ path('edit_bom_serials_generated_date', {'jobId': job.id}) }}">{{ job.bom and job.bom.serialsGeneratedDate ? job.bom.serialsGeneratedDate|date('Y-m-d') : "Not Generated Yet" }}</a></td>
                    <td><a href="#" class="shipDate" data-name="shipDate" data-pk="{{job.id}}" data-url="{{ path('edit_shipping_ship_date', {'jobId': job.id}) }}">{{ job.shipping and job.shipping.shipDate ? job.shipping.shipDate | date('Y-m-d') : "" }}</a></td>
                    <td><a href="#" class="isComplete" data-name="isComplete" data-pk="{{job.id}}" data-value="{{job.shipping ? job.shipping.isComplete : ''}}" data-url="{{ path('edit_shipping_is_complete', {'jobId': job.id}) }}">{% if job.shipping and job.shipping.isComplete == 2 %}Complete{% elseif job.shipping and job.shipping.isComplete == 1 %}Partial{% else %}N/A{% endif %}</a></td>
                    <td><a href="#" class="secondShipDate" data-name="secondShipDate" data-pk="{{job.id}}" data-url="{{ path('edit_shipping_second_ship_date', {'jobId': job.id}) }}">{{ job.shipping and job.shipping.secondShipDate ? job.shipping.secondShipDate | date('Y-m-d') : "" }}</a></td>
                    {# BOM #}
                    <td><a href="#" class="issuedDate" data-name="issuedDate" data-pk="{{job.id}}" data-url="{{ path('edit_bom_issued_date', {'jobId': job.id}) }}">{{ job.bom and job.bom.issuedDate ? job.bom.issuedDate|date('Y-m-d') : "" }}</td>
                    <td>{{ job.bom ? job.bom.issuedBy : ""}}</td>
                    <td>{{ job.bom.updatedBy }}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

    $(document).ready(function() {
        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';

        $('.serialsGeneratedDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Serials Generated Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.shipDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Ship Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.isComplete').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                emptytext: 'N/A',
                placement: 'left',
                value: obj.dataset.value,
                source: [
                  {value: 2, text: 'Complete'},
                  {value: 1, text: 'Partial'}
                ],
                url: obj.dataset.url,
                title: 'Is Complete?',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.secondShipDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Second Ship Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.issuedDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Issued Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

    });
    </script>
{% endblock %}