{% extends 'base.html.twig' %}

{% block headerTitle %}Receiver Parts{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>Receiver Parts</span></li>
{% endblock %}

{% block body %}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form action="{{ path('receiver') }}" method="GET">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-label">Part #</label>
                        <input type="text" name="part_number" value="{{ part_number }}" placeholder="Type in part #" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Vendor PO #</label>
                        <input type="text" id="vendor_po_number" name="vendor_po_number" value="{{ vendor_po_number }}" placeholder="Type in Vendor PO #" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-info" value="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h2>Receiver Part list</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="border:solid;max-width:11ch">Part #</th>
            <th style="border:solid;width:7ch">Date Needed</th>
            <th style="border:solid;min-width:7ch">EDD</th>
            <th style="border:solid;width:15ch">Vendor</th>
            <th style="border:solid;width:6ch">Vendor PO#</th>
            <th style="border:solid;width:6ch">Mod WO#</th>
            <th style="border:solid;width:7ch">RCVD Date</th>
            <th style="border:solid;width:4ch">LOC</th>
            <th style="border:solid;min-width:20ch">Notes</th>
            <th style="border:solid;width:10px">Job Name</th>
            <th style="border:solid;width:6ch">Job SO #</th>
            <th style="border:solid;width:4ch">Qty</th>
        </tr>
        </thead>
        <tbody>
            {% for part in parts %}
                {% set late = 0 %}
                {% if (part.estimatedDeliveryDate and part.estimatedDeliveryDate < date()) or (part.dateNeeded and part.dateNeeded < date()) and part.receivedDate is null %}
                    {% set late = 1 %}
                {% endif %}
            <tr {% if late %}bgcolor="lightcoral"{% endif %}>
                <td style="word-break:break-all;{% if late %}color:white{% endif %}">{{ part.partNumber}}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ part.dateNeeded ? part.dateNeeded | date('m-d') : "" }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ part.estimatedDeliveryDate ? part.estimatedDeliveryDate | date('m-d') : "" }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ part.vendor }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ part.vendorPoNumber }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ part.modWo }}</td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_RECEIVER') %}
                        <a href="#" class="receivedDate" data-name="receivedDate" data-pk="{{part.id}}" data-url="{{ path('edit_kitting_short_received_date', {'shortId': part.id}) }}">{{ part.receivedDate ? part.receivedDate | date('m-d') : "" }}</a>
                    {% else %}
                        {{ part.receivedDate ? part.receivedDate | date('m-d') : "" }}
                    {% endif %}
                    </td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_RECEIVER') %}
                        <a href="#" class="location" data-name="location" data-pk="{{part.id}}" data-url="{{ path('edit_kitting_location', {'jobId': part.kitting and part.kitting.job ? part.kitting.job.id : 0}) }}">{{part.kitting and part.kitting.job ? part.kitting.job.kitting.location : "" }}</a>
                    {% else %}
                        {{part.kitting and part.kitting.job ? part.kitting.job.kitting.location : "" }}
                    {% endif %}
                    </td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_RECEIVER') %}
                        <a href="#" class="notes" data-name="notes" data-pk="{{ part.id }}" data-url="{{ path('edit_kitting_short_notes', {'shortId': part.id}) }}">{{ part.notes }}</a>
                    {% else %}
                        {{ part.notes }}
                    {% endif %}
                    </td>
                <td style="font-size:small; {% if late %}color:white{% endif %}">{{ part.kitting and part.kitting.job ? part.kitting.job.name }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ part.kitting and part.kitting.job ? part.kitting.job.salesOrder }}</td>   
                <td {% if late %}style="color:white"{% endif %}>{{ part.kitting and part.kitting.job ? part.kitting.job.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('.table').fixedThead({
          height: 400,
          row: 1,
          col: 1
        });
        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';
        
        $('.receivedDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Received Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.location').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter location',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.notes').each(function(i, obj) {
            $(this).editable({
                type: 'textarea',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter notes',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

    });
    </script>
{% endblock %}