{% extends 'base.html.twig' %}

{% block headerTitle %}Supply Chain Parts{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span style="padding-top:10px">Supply Chain Parts</span></li>
{% endblock %}

{% block afterBreadcrumbs %}
    <span style="float:right"><a href="{{ path('create_part') }}" class="btn btn-sm btn-warning">Create New Part</a></span>
{% endblock %}

{% block body %}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form action="{{ path('supply_chain') }}" method="GET">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-label">Part number</label>
                        <input type="text" name="part_number" value="{{ part_number }}" placeholder="Type in part number" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Vendor</label>
                        <input type="text" id="vendor" name="vendor" value="{{ vendor }}" placeholder="Type in vendor" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-info" value="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h2>Supply Chain Parts list</h2>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th style="border:solid">Part Number</th>
            <th style="border:solid">Date Needed</th>
            <th style="border:solid">EDD</th>
            <th style="border:solid">Vendor</th>
            <th style="border:solid">Vendor PO#</th>
            <th style="border:solid">Mod WO#</th>
            <th style="border:solid">Received Date</th>
            <th style="border:solid">Notes</th>
            <th style="border:solid">Job Name</th>
            <th style="border:solid">Job SO #</th>
            <th style="border:solid">Qty</th>
            <th style="border:solid">Updated by</th>
        </tr>
        <tr>
        </tr>            
        </thead>
        <tbody>
            {% for part in parts %}
            <tr>
                <td>{{ part.partNumber}}</a></td>
                <td>{{ part.dateNeeded ? part.dateNeeded | date('Y-m-d') : "" }}</td>
                <td {% if part.estimatedDeliveryDate and date(part.estimatedDeliveryDate) > date(part.dateNeeded) %}style="background-color:yellow"{% endif %}><a href="#" class="estimatedDeliveryDate" data-name="estimatedDeliveryDate" data-pk="{{ part.id }}" data-url="{{ path('edit_kitting_short_estimated_delivery_date', {'shortId': part.id }) }}">{{ part.estimatedDeliveryDate ? part.estimatedDeliveryDate | date('Y-m-d') : "" }}</a></td>
                <td><a href="#" class="vendor" data-name="vendor" data-pk="{{ part.id }}" data-url="{{ path('edit_kitting_short_vendor', {'shortId': part.id }) }}">{{ part.vendor }}</a></td>
                <td><a href="#" class="vendorPoNumber" data-name="vendorPoNumber" data-pk="{{ part.id }}" data-url="{{ path('edit_kitting_short_vendor_po_number', {'shortId': part.id}) }}">{{ part.vendorPoNumber }}</a></td>
                <td><a href="#" class="modWo" data-name="modWo" data-pk="{{ part.id }}" data-url="{{ path('edit_kitting_short_mod_wo', {'shortId': part.id}) }}">{{ part.modWo }}</a></td>
                <td>{{ part.receivedDate ? part.receivedDate | date('Y-m-d') : "" }}</td>
                <td><a href="#" class="notes" data-name="notes" data-pk="{{ part.id }}" data-url="{{ path('edit_kitting_short_notes', {'shortId': part.id}) }}">{{ part.notes }}</a></td>
                <td>{{ part.kitting and part.kitting.job ? part.kitting.job.name }}</td>
                <td>{{ part.kitting and part.kitting.job ? part.kitting.job.salesOrder }}</td>   
                <td>{{ part.kitting and part.kitting.job ? part.kitting.job.quantity }}</td>
                <td>{{ part.updatedBy }}<br>({{ part.updateTime|date('Y-m-d') }})</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('.table').fixedThead({
          height: 500,
          row: 1,
          col: 1
        });
        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';

        $('.estimatedDeliveryDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Estimated Delivery Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.notes').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter notes',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.vendor').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter vendor',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        
        $('.vendorPoNumber').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter vendor PO#',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.modWo').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Mod WO#',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

    });
    </script>
{% endblock %}