{% extends 'base.html.twig' %}

{% block headerTitle %}V2 Production Jobs{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>V2 Production Jobs</span></li>
{% endblock %}

{% block afterBreadcrumbs %}
    <span style="float:right"><a href="{{ path('print_v2_production', {'sales_order': sales_order, 'planner_esd_date_from': planner_esd_date_from, 'planner_esd_date_to': planner_esd_date_to, 'planner_esd_week_from': planner_esd_week_from, 'planner_esd_week_to': planner_esd_week_to}) }}" class="btn btn-sm btn-warning">Print</a></span>
{% endblock %}

{% block body %}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form action="{{ path('v2_production') }}" method="GET">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="form-label">Sales Order #</label>
                        <input type="text" name="sales_order" value="{{ sales_order }}" placeholder="Type in SO #" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label">Planner ESD Date Range</label>
                        <div class="input-daterange input-group">
                            <input type="text" name="planner_esd_date_from" value="{{ planner_esd_date_from }}" class="form-control">
                            <span class="input-group-addon">to</span>
                            <input type="text" name="planner_esd_date_to" value="{{ planner_esd_date_to }}" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Planner ESD Week Range</label>
                        <div class="input-daterange input-group">
                            <input type="text" name="planner_esd_week_from" value="{{ planner_esd_week_from }}" class="form-control">
                            <span class="input-group-addon">to</span>
                            <input type="text" name="planner_esd_week_to" value="{{ planner_esd_week_to }}" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-info" value="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h2>V2 Production Job list</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="border:solid;width:10ch">Name</th>
            <th style="border:solid;width:6ch">SO #</th>
            <th style="border:solid;width:10ch">Type</th>
            <th style="border:solid;width:6ch">Model</th>
            <th style="border:solid;width:4ch">Qty</th>
            <th style="border:solid;width:6ch">MO #</th>
            <th style="border:solid;font-size:x-small;width:7ch">Planner ESD (Week#)</th>
            <th style="border:solid;font-size:x-small;width:3ch">Kitting Filled Completely?</th>
            <th style="border:solid;width:4ch">Kitting LOC</th>
            <th style="border:solid;width:4ch">Paint LOC</th>
            <th style="border:solid;width:4ch">Sub Built</th>
            <th style="border:solid;width:7ch">Build Completion Date</th>
            <th style="border:solid;width:3ch">Built By</th>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr 
            {% if job.customSortOrder == 1 %}
                bgcolor="lightcoral"
            {% elseif job.customSortOrder == 2 %}
                bgcolor="orange"
            {% elseif job.customSortOrder == 3 %}
                bgcolor="gold"
            {% endif %}>
                <td style="font-size:small; {% if job.customSortOrder %}color:white{% endif %}">{{job.customSortOrder}} {{ job.name }}</td>
                <td {% if job.customSortOrder %}style="color:white"{% endif %}>{{ job.salesOrder }}</td>   
                <td {% if job.customSortOrder %}style="color:white"{% endif %}>{{ job.type }}</td>
                <td style="word-break:break-all; {% if job.customSortOrder %}color:white{% endif %}">{{ job.model }}</td>
                <td {% if job.customSortOrder %}style="color:white"{% endif %}>{{ job.quantity }}</td>
                <td {% if job.customSortOrder %}style="color:white"{% endif %}>{{ job.manufacturingOrder }}</td>
                <td {% if job.customSortOrder %}style="color:white"{% endif %}>
                    {% if job.plannerEstimatedShipDate %}
                        {{ job.plannerEstimatedShipDate|date('Y-m-d') }} ({{ job.plannerEstimatedShipDate|date('W') }})
                    {% else %}
                        TBD
                    {% endif %}
                </td>
                {# Kitting #}
                <td {% if job.customSortOrder %}style="color:white"{% endif %}>{{ job.kitting.filledCompletely ? "Yes" : "No" }}</td>
                <td {% if job.customSortOrder %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_V2_PRODUCTION') %}
                        <a href="#" class="location" data-name="location" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_location', {'jobId': job.id}) }}">{{ job.kitting.location }}</a>
                    {% else %}
                        {{ job.kitting.location }}
                    {% endif %}
                </td>
                {# Paint #}
                <td {% if job.customSortOrder %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_V2_PRODUCTION') %}
                        <a href="#" class="paintLocation" data-name="paintLocation" data-pk="{{job.id}}" data-value="{{job.paint ? job.paint.location}}" data-url="{{ path('edit_paint_location', {'paintId': job.paint ? job.paint.id : 0}) }}">{{ job.paint ? job.paint.location : "" }}</a>
                    {% else %}
                        {{ job.paint ? job.paint.location : "" }}
                    {% endif %}
                </td>
                {# Scheduling #}                
                <td {% if job.customSortOrder %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_V2_PRODUCTION') %}
                        <a href="#" class="subReady" data-name="subReady" data-pk="{{job.id}}" data-value="{{ job.scheduling.subReady ? 1 : 0 }}" data-url="{{ path('edit_scheduling_sub_ready', {'jobId': job.id}) }}">{{ job.scheduling.subReady ? "Yes" : "No"}}</a>
                    {% else %}
                        {{ job.scheduling.subReady ? "Yes" : "No"}}
                    {% endif %}
                </td>
                <td {% if job.customSortOrder %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_V2_PRODUCTION') %}
                        <a href="#" class="completionDate" data-name="completionDate" data-pk="{{job.id}}" data-url="{{ path('edit_scheduling_completion_date', {'jobId': job.id}) }}">{{ job.scheduling.completionDate ? job.scheduling.completionDate | date('Y-m-d') : "" }}</a>
                    {% else %}
                        {{ job.scheduling.completionDate ? job.scheduling.completionDate | date('Y-m-d') : "" }}
                    {% endif %}
                </td>
                <td {% if job.customSortOrder %}style="color:white"{% endif %}>
                    {% if is_granted('ROLE_V2_PRODUCTION') %}
                        <a href="#" class="builtBy" data-name="builtBy" data-pk="{{job.id}}" data-url="{{ path('edit_scheduling_built_by', {'jobId': job.id}) }}">{{ job.scheduling.builtBy ? job.scheduling.builtBy : "" }}</a>
                    {% else %}
                        {{ job.scheduling.builtBy ? job.scheduling.builtBy : "" }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>

    $(document).ready(function() {
        $('.table').fixedThead({
          height: 400,
          row: 1,
          col: 2
        });

        $("input[name='planner_esd_date_from'").datepicker({
            dateFormat: 'yy-mm-dd',
        });
        $("input[name='planner_esd_date_to'").datepicker({
            dateFormat: 'yy-mm-dd',
        });

        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';

        $('.serialsGeneratedDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Serials Generated Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.shipDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Ship Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.isComplete').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                emptytext: 'Empty',
                container: 'body',
                placement: 'left',
                value: obj.dataset.value,
                source: [
                  {value: 2, text: 'Complete'},
                  {value: 1, text: 'Partial'}
                ],
                url: obj.dataset.url,
                title: 'Is Complete?',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.secondShipDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Second Ship Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.issuedDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Issued Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.location').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter location',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.paintLocation').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Paint Location',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.subReady').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                emptytext: 'Empty',
                container: 'body',
                placement: 'left',
                value: obj.dataset.value,
                source: [
                  {value: 1, text: 'Yes'},
                  {value: 0, text: 'No'},
                ],
                url: obj.dataset.url,
                title: 'Sub Ready?',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.completionDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Completion Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.builtBy').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter Built By Initials',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

    });
    </script>
{% endblock %}