{% extends 'base.html.twig' %}

{% block headerTitle %}V2 Production Jobs{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>V2 Production Jobs</span></li>
{% endblock %}

{% block body %}
    <h2>V2 Production Job list</h2>
    <table class="table table-bordered table-striped table-hover table-freeze-multi" data-scroll-height="500" data-cols-number="2">
        <thead>
        <tr>
            <th style="width:100px;border:solid;background-color:white" rowspan=2>Name</th>
            <th style="width:100px;border:solid;background-color:white" rowspan=2>SO #</th>
            <th style="width:100px;border:solid" rowspan=2>Type</th>
            <th style="width:100px;border:solid" rowspan=2>Model</th>
            <th style="width:100px;border:solid" rowspan=2>Qty</th>
            <th style="width:100px;border:solid" rowspan=2>MO #</th>
            <th style="width:100px;border:solid" rowspan=2>Build Location</th>
            <th style="width:100px;border:solid" rowspan=2>Planner ESD (Week #)</th>
            <th style="width:400px;border:solid;text-align:center" colspan=4>Shipped</th>
            <th style="width:200px;border:solid;text-align:center" colspan=2>BOM</th>
            <th style="width:300px;border:solid;text-align:center" colspan=3>Kitting</th>
            <th style="width:400px;border:solid;text-align:center" colspan=4>Short #1</th>
            <th style="width:400px;border:solid;text-align:center" colspan=4>Short #2</th>
            <th style="width:400px;border:solid;text-align:center" colspan=4>Short #3</th>
            <th style="width:400px;border:solid;text-align:center" colspan=4>Short #4</th>
            <th style="width:100px;border:solid" rowspan=2>Location</th>
            <th style="width:100px;border:solid" rowspan=2>Epoxy</th>
            <th style="width:100px;border:solid" rowspan=2>Tube</th>
            <th style="width:100px;border:solid" rowspan=2>Priority</th>
            <th style="width:100px;border:solid" rowspan=2>Sub Ready</th>
            <th style="width:100px;border:solid" rowspan=2>Build Completion Date</th>
            <th style="width:100px;border:solid" rowspan=2>Last Updated by</th>
        </tr>
        <tr>
            {# Shipped #}
            <th style="width:100px;border:solid">Serials Generated Date</th>
            <th style="width:100px;border:solid">Date</th>
            <th style="width:100px;border:solid">Complete or Partial</th>
            <th style="width:100px;border:solid">2nd Shipped Date</th>
            {# BOM #}
            <th style="width:100px;border:solid">Issued Date</th>
            <th style="width:100px;border:solid">Issued By</th>
            {# Kitting #}
            <th style="width:100px;border:solid">Completion Date</th>
            <th style="width:100px;border:solid">Completed By</th>
            <th style="width:100px;border:solid">Filled Completely?</th>
            {# Short #1 #}
            <th style="width:100px;border:solid">Part Number</th>
            <th style="width:100px;border:solid">Painted Part</th>
            <th style="width:100px;border:solid">EDD</th>
            <th style="width:100px;border:solid">Received Date</th>
            {# Short #2 #}
            <th style="width:100px;border:solid">Part Number</th>
            <th style="width:100px;border:solid">Painted Part</th>
            <th style="width:100px;border:solid">EDD</th>
            <th style="width:100px;border:solid">Received Date</th>
            {# Short #3 #}
            <th style="width:100px;border:solid">Part Number</th>
            <th style="width:100px;border:solid">Painted Part</th>
            <th style="width:100px;border:solid">EDD</th>
            <th style="width:100px;border:solid">Received Date</th>
            {# Short #4 #}
            <th style="width:100px;border:solid">Part Number</th>
            <th style="width:100px;border:solid">Painted Part</th>
            <th style="width:100px;border:solid">EDD</th>
            <th style="width:100px;border:solid">Received Date</th>
        </tr>            
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td style="background-color:white;width:100px">{{ job.name }}</td>
                <td style="background-color:white;width:100px">{{ job.salesOrder }}</td>   
                <td style="width:100px">{{ job.type }}</td>
                <td style="width:100px">{{ job.model }}</td>
                <td style="width:100px">{{ job.quantity }}</td>
                <td style="width:100px">{{ job.manufacturingOrder }}</td>
                <td style="width:100px">{{ job.buildLocation.name }}</td>
                <td style="width:100px">
                    {% if job.plannerEstimatedShipDate %}
                        {{ job.plannerEstimatedShipDate|date('Y-m-d') }} ({{ job.plannerEstimatedShipDate|date('W') }})
                    {% else %}
                        TBD
                    {% endif %}
                </td>
                {# Shipped #}
                <td style="width:100px"><a href="#" class="serialsGeneratedDate" data-name="serialsGeneratedDate" data-pk="{{job.id}}" data-url="{{ path('edit_bom_serials_generated_date', {'jobId': job.id}) }}">{{ job.bom and job.bom.serialsGeneratedDate ? job.bom.serialsGeneratedDate|date('Y-m-d') : "Not Generated Yet" }}</a></td>
                <td style="width:100px"><a href="#" class="shipDate" data-name="shipDate" data-pk="{{job.id}}" data-url="{{ path('edit_shipping_ship_date', {'jobId': job.id}) }}">{{ job.shipping and job.shipping.shipDate ? job.shipping.shipDate | date('Y-m-d') : "" }}</a></td>
                <td style="width:100px"><a href="#" class="isComplete" data-name="isComplete" data-pk="{{job.id}}" data-value="{{job.shipping ? job.shipping.isComplete : ''}}" data-url="{{ path('edit_shipping_is_complete', {'jobId': job.id}) }}">{% if job.shipping and job.shipping.isComplete == 2 %}Complete{% elseif job.shipping and job.shipping.isComplete == 1 %}Partial{% else %}N/A{% endif %}</a></td>
                <td style="width:100px"><a href="#" class="secondShipDate" data-name="secondShipDate" data-pk="{{job.id}}" data-url="{{ path('edit_shipping_second_ship_date', {'jobId': job.id}) }}">{{ job.shipping and job.shipping.secondShipDate ? job.shipping.secondShipDate | date('Y-m-d') : "" }}</a></td>
                {# BOM #}
                <td style="width:100px"><a href="#" class="issuedDate" data-name="issuedDate" data-pk="{{job.id}}" data-url="{{ path('edit_bom_issued_date', {'jobId': job.id}) }}">{{ job.bom and job.bom.issuedDate ? job.bom.issuedDate|date('Y-m-d') : "" }}</a></td>
                <td style="width:100px">{{ job.bom ? job.bom.issuedBy : ""}}</td>
                {# Kitting #}
                <td style="width:100px">{{ job.kitting.completionDate|date('Y-m-d') }}</td>
                <td style="width:100px">{{ job.kitting.updatedBy }}</td>
                <td style="width:100px">{{ job.kitting.filledCompletely ? "Yes" : "No" }}</td>
                {# Short #1 #}
                <td style="width:100px">{{ job.kitting.kittingShort1.partNumber | default("") }}</td>
                <td style="width:100px">{{ job.kitting.kittingShort1.paintedPart | default("") }}</td>
                <td style="width:100px">{{ job.kitting.kittingShort1 ? job.kitting.kittingShort1.estimatedDeliveryDate | date('Y-m-d') : "" }}</td>
                <td style="width:100px">{{ job.kitting.kittingShort1 and job.kitting.kittingShort1.receivedDate ? job.kitting.kittingShort1.receivedDate | date('Y-m-d') : "" }}</td>
                {# Short #2 #}
                <td style="width:100px">{{ job.kitting.kittingShort2.partNumber | default("") }}</td>
                <td style="width:100px">{{ job.kitting.kittingShort2.paintedPart | default("") }}</td>
                <td style="width:100px">{{ job.kitting.kittingShort2 ? job.kitting.kittingShort2.estimatedDeliveryDate | date('Y-m-d') : "" }}</td>
                <td style="width:100px">{{ job.kitting.kittingShort2 and job.kitting.kittingShort2.receivedDate ? job.kitting.kittingShort2.receivedDate | date('Y-m-d') : "" }}</td>
                {# Short #3 #}
                <td style="width:100px">{{ job.kitting.kittingShort3.partNumber | default("") }}</td>
                <td style="width:100px">{{ job.kitting.kittingShort3.paintedPart | default("") }}</td>
                <td style="width:100px">{{ job.kitting.kittingShort3 ? job.kitting.kittingShort3.estimatedDeliveryDate | date('Y-m-d') : "" }}</td>
                <td style="width:100px">{{ job.kitting.kittingShort3 and job.kitting.kittingShort3.receivedDate ? job.kitting.kittingShort3.receivedDate | date('Y-m-d') : "" }}</td>
                {# Short #4 #}
                <td style="width:100px">{{ job.kitting.kittingShort4.partNumber | default("") }}</td>
                <td style="width:100px">{{ job.kitting.kittingShort4.paintedPart | default("") }}</td>
                <td style="width:100px">{{ job.kitting.kittingShort4 ? job.kitting.kittingShort4.estimatedDeliveryDate | date('Y-m-d') : "" }}</td>
                <td style="width:100px">{{ job.kitting.kittingShort4 and job.kitting.kittingShort4.receivedDate ? job.kitting.kittingShort4.receivedDate | date('Y-m-d') : "" }}</td>
                <td style="width:100px">{{job.kitting.location}}</td>
                <td style="width:100px"><a href="#" class="epoxy" data-name="epoxy" data-pk="{{job.kitting.id}}" data-value="{{job.kitting.epoxy}}" data-url="{{ path('edit_kitting_epoxy', {'jobId': job.id}) }}">{% if job.kitting.epoxy is same as(0) %}No{% elseif job.kitting.epoxy == 1 %}Yes{% elseif job.kitting.epoxy == 2 %}Done{% endif %}</a></td>
                <td style="width:100px"><a href="#" class="tube" data-name="tube" data-pk="{{job.kitting.id}}" data-value="{{job.kitting.tube}}" data-url="{{ path('edit_kitting_tube', {'jobId': job.id}) }}">{% if job.kitting.tube is same as(0) %}No{% elseif job.kitting.tube == 1 %}Yes{% elseif job.kitting.tube == 2 %}Done{% endif %}</a></td>
                <td style="width:100px">{{job.scheduling.priority}}</td>
                <td style="width:100px"><a href="#" class="subReady" data-name="subReady" data-pk="{{job.id}}" data-value="{{job.scheduling.subReady}}" data-url="{{ path('edit_scheduling_sub_ready', {'jobId': job.id}) }}">{{ job.scheduling.subReady ? "Yes" : "No"}}</a></td>
                <td style="width:100px"><a href="#" class="completionDate" data-name="completionDate" data-pk="{{job.id}}" data-url="{{ path('edit_scheduling_completion_date', {'jobId': job.id}) }}">{{ job.scheduling.completionDate ? job.scheduling.completionDate | date('Y-m-d') : "" }}</a></td>
                <td style="width:100px">{{ job.updatedBy }}<br>({{ job.updateTime|date('Y-m-d') }})</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>

    $(document).ready(function() {
        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';

        $('.serialsGeneratedDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Serials Generated Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.shipDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Ship Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.isComplete').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                emptytext: 'N/A',
                container: 'body',
                placement: 'left',
                value: obj.dataset.value,
                source: [
                  {value: 2, text: 'Complete'},
                  {value: 1, text: 'Partial'}
                ],
                url: obj.dataset.url,
                title: 'Is Complete?',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.secondShipDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Second Ship Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.issuedDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Issued Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.epoxy').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                emptytext: 'N/A',
                container: 'body',
                placement: 'left',
                value: obj.dataset.value,
                source: [
                  {value: 2, text: 'Done'},
                  {value: 1, text: 'Yes'},
                  {value: 0, text: 'No'}
                ],
                url: obj.dataset.url,
                title: 'Epoxy',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.tube').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                emptytext: 'N/A',
                container: 'body',
                placement: 'left',
                value: obj.dataset.value,
                source: [
                  {value: 2, text: 'Done'},
                  {value: 1, text: 'Yes'},
                  {value: 0, text: 'No'}
                ],
                url: obj.dataset.url,
                title: 'Tube',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        
        $('.subReady').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                emptytext: 'N/A',
                container: 'body',
                placement: 'left',
                value: obj.dataset.value,
                source: [
                  {value: 1, text: 'Yes'},
                  {value: 0, text: 'No'},
                ],
                url: obj.dataset.url,
                title: 'Sub Ready?',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.completionDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Completion Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

    });
    </script>
{% endblock %}