{% extends 'base.html.twig' %}

{% block headerTitle %}Manufacturer Jobs{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>Manufacturer Jobs</span></li>
{% endblock %}

{% block body %}
    <h2>Manufacturer Job list</h2>
    <div id="table-listing">
        <div class="table-responsive table-scrollable">
            <table class="table table-bordered table-striped table-hover" data-count-fixed-columns="2">
                <thead>
                <tr>
                    <th style="border:solid;border-right:none;border-bottom:none">Name</th>
                    <th style="border:solid;border-bottom:none">SO #</th>
                    <th style="border:solid" rowspan=2>ESD</th>
                    <th style="border:solid" rowspan=2>Type</th>
                    <th style="border:solid" rowspan=2>Model</th>
                    <th style="border:solid" rowspan=2>Qty</th>
                    <th style="border:solid" rowspan=2>MO #</th>
                    <th style="border:solid" rowspan=2>Updated by</th>
                    <th style="border:solid;text-align:center" colspan=5>Short #1</th>
                    <th style="border:solid;text-align:center" colspan=5>Short #2</th>
                    <th style="border:solid;text-align:center" colspan=5>Short #3</th>
                    <th style="border:solid;text-align:center" colspan=5>Short #4</th>
                </tr>
                <tr>
                    <th style="border:solid;border-right:none;border-top:none"></th>
                    <th style="border:solid;border-top:none"></th>
                    {# Short #1 #}
                    <th style="border:solid">Part Number</th>
                    <th style="border:solid">Date Needed</th>
                    <th style="border:solid">Mod WO#</th>
                    <th style="border:solid">EDD</th>
                    <th style="border:solid">Mod Done Date</th>
                    {# Short #2 #}
                    <th style="border:solid">Part Number</th>
                    <th style="border:solid">Date Needed</th>
                    <th style="border:solid">Mod WO#</th>
                    <th style="border:solid">EDD</th>
                    <th style="border:solid">Mod Done Date</th>
                    {# Short #3 #}
                    <th style="border:solid">Part Number</th>
                    <th style="border:solid">Date Needed</th>
                    <th style="border:solid">Mod WO#</th>
                    <th style="border:solid">EDD</th>
                    <th style="border:solid">Mod Done Date</th>
                    {# Short #4 #}
                    <th style="border:solid">Part Number</th>
                    <th style="border:solid">Date Needed</th>
                    <th style="border:solid">Mod WO#</th>
                    <th style="border:solid">EDD</th>
                    <th style="border:solid">Mod Done Date</th>
                </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                    <tr>
                        <td>{{ job.name }}</td>
                        <td>{{ job.salesOrder }}</td>
                        <td>{{ job.estimatedShipDate | date('Y-m-d') }}</td>
                        <td>{{ job.type }}</td>
                        <td>{{ job.model }}</td>
                        <td>{{ job.quantity }}</td>
                        <td>{{ job.manufacturingOrder }}</td>
                        <td>{{ job.kitting.updatedBy }}</td>
                        {# Short #1 #}
                        <td>{{ job.kitting.kittingShort1.partNumber | default("") }}</a></td>
                        <td>{{ job.kitting.kittingShort1 ? job.kitting.kittingShort1.dateNeeded | date('Y-m-d') : "" }}</td>
                        <td>{{ job.kitting.kittingShort1.modWo | default("") }}</td>
                        <td><a href="#" class="estimatedDeliveryDate1" data-name="estimatedDeliveryDate1" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short_estimated_delivery_date', {'shortId': (job.kitting.kittingShort1) ? job.kitting.kittingShort1.id : 0}) }}">{{ job.kitting.kittingShort1 and job.kitting.kittingShort1.estimatedDeliveryDate ? job.kitting.kittingShort1.estimatedDeliveryDate | date('Y-m-d') : "" }}</a></td>
                        <td><a href="#" class="modDoneDate1" data-name="modDoneDate1" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short_mod_done_date', {'shortId': (job.kitting.kittingShort1) ? job.kitting.kittingShort1.id : 0}) }}">{{ job.kitting.kittingShort1 and job.kitting.kittingShort1.modDoneDate ? job.kitting.kittingShort1.modDoneDate | date('Y-m-d') : "" }}</a></td>
                        {# Short #2 #}
                        <td>{{ job.kitting.kittingShort2.partNumber | default("") }}</a></td>
                        <td>{{ job.kitting.kittingShort2 ? job.kitting.kittingShort2.dateNeeded | date('Y-m-d') : "" }}</td>
                        <td>{{ job.kitting.kittingShort2.modWo | default("") }}</td>
                        <td><a href="#" class="estimatedDeliveryDate2" data-name="estimatedDeliveryDate2" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short_estimated_delivery_date', {'shortId': (job.kitting.kittingShort2) ? job.kitting.kittingShort2.id : 0}) }}">{{ job.kitting.kittingShort2 and job.kitting.kittingShort2.estimatedDeliveryDate ? job.kitting.kittingShort2.estimatedDeliveryDate | date('Y-m-d') : "" }}</a></td>
                        <td><a href="#" class="modDoneDate2" data-name="modDoneDate2" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short_mod_done_date', {'shortId': (job.kitting.kittingShort2) ? job.kitting.kittingShort2.id : 0}) }}">{{ job.kitting.kittingShort2 and job.kitting.kittingShort2.modDoneDate ? job.kitting.kittingShort2.modDoneDate | date('Y-m-d') : "" }}</a></td>
                        {# Short #3 #}
                        <td>{{ job.kitting.kittingShort3.partNumber | default("") }}</a></td>
                        <td>{{ job.kitting.kittingShort3 ? job.kitting.kittingShort3.dateNeeded | date('Y-m-d') : "" }}</td>
                        <td>{{ job.kitting.kittingShort3.modWo | default("") }}</td>
                        <td><a href="#" class="estimatedDeliveryDate3" data-name="estimatedDeliveryDate3" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short_estimated_delivery_date', {'shortId': (job.kitting.kittingShort3) ? job.kitting.kittingShort3.id : 0}) }}">{{ job.kitting.kittingShort3 and job.kitting.kittingShort3.estimatedDeliveryDate ? job.kitting.kittingShort3.estimatedDeliveryDate | date('Y-m-d') : "" }}</a></td>
                        <td><a href="#" class="modDoneDate3" data-name="modDoneDate3" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short_mod_done_date', {'shortId': (job.kitting.kittingShort3) ? job.kitting.kittingShort3.id : 0}) }}">{{ job.kitting.kittingShort3 and job.kitting.kittingShort3.modDoneDate ? job.kitting.kittingShort3.modDoneDate | date('Y-m-d') : "" }}</a></td>
                        {# Short #4 #}
                        <td>{{ job.kitting.kittingShort4.partNumber | default("") }}</a></td>
                        <td>{{ job.kitting.kittingShort4 ? job.kitting.kittingShort4.dateNeeded | date('Y-m-d') : "" }}</td>
                        <td>{{ job.kitting.kittingShort4.modWo | default("") }}</td>
                        <td><a href="#" class="estimatedDeliveryDate4" data-name="estimatedDeliveryDate4" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short_estimated_delivery_date', {'shortId': (job.kitting.kittingShort4) ? job.kitting.kittingShort4.id : 0}) }}">{{ job.kitting.kittingShort4 and job.kitting.kittingShort4.estimatedDeliveryDate? job.kitting.kittingShort4.estimatedDeliveryDate | date('Y-m-d') : "" }}</a></td>
                        <td><a href="#" class="modDoneDate4" data-name="modDoneDate4" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short_mod_done_date', {'shortId': (job.kitting.kittingShort4) ? job.kitting.kittingShort4.id : 0}) }}">{{ job.kitting.kittingShort4 and job.kitting.kittingShort4.modDoneDate? job.kitting.kittingShort4.modDoneDate | date('Y-m-d') : "" }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

    $(document).ready(function() {
        app_handle_listing_horizontal_scroll($('#table-listing'));

        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';
        
        $('.estimatedDeliveryDate1').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Estimated Delivery Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        $('.modDoneDate1').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Mod Done Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        
        $('.estimatedDeliveryDate2').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Estimated Delivery Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        $('.modDoneDate2').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Mod Done Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.estimatedDeliveryDate3').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Estimated Delivery Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        $('.modDoneDate3').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Mod Done Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.estimatedDeliveryDate4').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Estimated Delivery Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        $('.modDoneDate4').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Mod Done Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        
    });
    </script>
{% endblock %}