{% extends 'base.html.twig' %}

{% block headerTitle %}Jobs{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>Jobs</span></li>
{% endblock %}

{% block afterBreadcrumbs %}
    <span style="float:right"><a href="{{ path('create_job') }}" class="btn btn-sm btn-warning">Create New Job</a></span>
{% endblock %}

{% block body %}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form action="{{ path('all_jobs') }}" method="GET">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-label">Name</label>
                        <input type="text" name="name" value="{{ name }}" placeholder="Type in name" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Sales Order #</label>
                        <input type="text" name="sales_order" value="{{ sales_order }}" placeholder="Type in SO #" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Planner ESD</label>
                        <input type="text" name="planner_esd" value="{{ planner_esd }}" placeholder="Select Planner ESD" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-check-label">
                            <input type="checkbox" name="see_all" value="1" class="form-check-input" {% if see_all %}checked{% endif %}>
                            See all jobs
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-info" value="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h2>Job list</h2>
    <table class="table table-bordered table-striped">
        <thead>
        <tr style="background-color:white;">
            <th style="border:solid;width:10ch">Name</th>
            <th style="border:solid;width:6ch">SO #</th>
            <th style="border:solid;width:7ch">ESD</th>
            <th style="border:solid;width:7ch">Planner ESD</th>
            <th style="border:solid;width:10ch">Type</th>
            <th style="border:solid;width:6ch">Model</th>
            <th style="border:solid;width:4ch">Qty</th>
            <th style="border:solid;width:6ch">Mac PO #</th>
            <th style="border:solid;width:4ch">LOC</th>
            <th style="border:solid;width:7ch">Created On</th>
        </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td style="font-size:small">{{ job.name }}</td>
                <td>{{ job.salesOrder }}</td>
                <td>{{ job.estimatedShipDate | date('m-d') }}</td>
                <td style=
                    {% if job.estimatedShipDate and job.plannerEstimatedShipDate and date(job.plannerEstimatedShipDate) > date(job.estimatedShipDate) %}
                        "background-color:indianred;color:white"
                    {% elseif job.scheduling and job.scheduling.priority > 0 %}
                        "background-color:yellow"
                    {% endif %}
                    >
                    {% if job.plannerEstimatedShipDate %}
                        {{ job.plannerEstimatedShipDate | date('m-d') }}
                    {% else %}
                        TBD
                    {% endif %}
                </td>
                <td>{{ job.type }}</td>
                <td style="word-break:break-all">{{ job.model }}</td>
                <td>{{ job.quantity }}</td>
                <td>{{ job.macPurchaseOrder }}</td>
                <td>{{ job.buildLocation.name }}</td>
                <td>{{ job.createTime | date('m-d') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.table').fixedThead({
              height: 400,
              col: 2
            });
        });

        $("input[name='planner_esd'").datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
        });        
    </script>
{% endblock %}