{% extends 'base.html.twig' %}

{% block headerTitle %}Kitter Jobs{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>Kitter Jobs</span></li>
{% endblock %}

{% block body %}
    <h2>Kitter Job list</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th style="border:solid">Name</th>
                <th style="border:solid">SO #</th>
                <th style="border:solid">Type</th>
                <th style="border:solid">Qty</th>
                <th style="border:solid">MO #</th>
                <th style="border:solid">Build Location</th>
                <th style="border:solid">Planner ESD</th>
                <th style="border:solid">BOM Issued By (Date)</th>
                <th style="border:solid">Completion Date</th>
                <th style="border:solid">Updated By</th>
                <th style="border:solid">Filled Completely?</th>
                <th style="border:solid">Short #1</th>
                <th style="border:solid">Short #2</th>
                <th style="border:solid">Short #3</th>
                <th style="border:solid">Short #4</th>
                <th style="border:solid">Location</th>
            </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{ job.name }}</td>
                    <td>{{ job.salesOrder }}</td>   
                    <td>{{ job.type }}</td>
                    <td>{{ job.quantity }}</td>
                    <td>{{ job.manufacturingOrder }}</td>
                    <td>{{ job.buildLocation.name }}</td>
                    <td>
                        {% if job.plannerEstimatedShipDate %}
                            {{ job.plannerEstimatedShipDate|date('Y-m-d') }}
                        {% else %}
                            TBD
                        {% endif %}
                    </td>
                    <td>{{ job.bom.issuedBy }} ({{ job.bom.issuedDate|date('Y-m-d') }})</td>
                    <td><a href="#" class="completionDate" data-name="completionDate" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_completion_date', {'jobId': job.id}) }}">{{job.kitting.completionDate|date('Y-m-d')}}</a></td>
                    <td>{{job.kitting.updatedBy}}</td>
                    <td><a href="#" class="filledCompletely" data-name="filledCompletely" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_filled_completely', {'jobId': job.id}) }}">{{job.kitting.filledCompletely}}</a></td>
                    <td><a href="#" class="short1" data-name="short1" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short1', {'jobId': job.id, 'shortId': (job.kitting.kittingShort1)?job.kitting.kittingShort1.id:0}) }}">{{ job.kitting.kittingShort1 ? job.kitting.kittingShort1.partNumber : null }}</a></td>
                    <td><a href="#" class="short2" data-name="short2" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short2', {'jobId': job.id, 'shortId': (job.kitting.kittingShort2)?job.kitting.kittingShort2.id:0}) }}">{{ job.kitting.kittingShort2 ? job.kitting.kittingShort2.partNumber : null }}</a></td>
                    <td><a href="#" class="short3" data-name="short3" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short3', {'jobId': job.id, 'shortId': (job.kitting.kittingShort3)?job.kitting.kittingShort3.id:0}) }}">{{ job.kitting.kittingShort3 ? job.kitting.kittingShort3.partNumber : null }}</a></td>
                    <td><a href="#" class="short4" data-name="short4" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_short4', {'jobId': job.id, 'shortId': (job.kitting.kittingShort4)?job.kitting.kittingShort4.id:0}) }}">{{ job.kitting.kittingShort4 ? job.kitting.kittingShort4.partNumber : null }}</a></td>
                    <td><a href="#" class="location" data-name="location" data-pk="{{job.kitting.id}}" data-url="{{ path('edit_kitting_location', {'jobId': job.id}) }}">{{job.kitting.location}}</a></td>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

    $(document).ready(function() {
        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';

        $('.filledCompletely').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                emptytext: 'N/A',
                source: [
                  {value: 1, text: 'Yes'},
                  {value: 0, text: 'No'}
                ],
                url: obj.dataset.url,
                title: 'Select Completion Status',
                success: function(response, newValue) {
                    if (response.status == 'error') {
                        return response.msg; //msg will be shown in editable form
                    }
                }
            });
        });

        $('.completionDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Completion Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        
        $('.short1').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                url: obj.dataset.url,
                title: 'Enter Part Number for Short #1',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.short2').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                url: obj.dataset.url,
                title: 'Enter Part Number for Short #2',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.short3').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                url: obj.dataset.url,
                title: 'Enter Part Number for Short #3',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.short4').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                url: obj.dataset.url,
                title: 'Enter Part Number for Short #4',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.location').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                url: obj.dataset.url,
                title: 'Enter location',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        
    });
    </script>
{% endblock %}