{% extends 'base.html.twig' %}

{% block headerTitle %}V2 Production Jobs{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>V2 Production Jobs</span></li>
{% endblock %}

{% block body %}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form action="{{ path('v2_production') }}" method="GET">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-label">Sales Order #</label>
                        <input type="text" name="sales_order" value="{{ sales_order }}" placeholder="Type in SO #" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Planner ESD</label>
                        <input type="text" name="planner_esd" value="{{ planner_esd }}" placeholder="Select Planner ESD" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-info" value="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h2>V2 Production Job list</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="border:solid;width:10ch" rowspan=2>Name</th>
            <th style="border:solid;width:6ch" rowspan=2>SO #</th>
            <th style="border:solid;width:10ch" rowspan=2>Type</th>
            <th style="border:solid;width:6ch" rowspan=2>Model</th>
            <th style="border:solid;width:4ch" rowspan=2>Qty</th>
            <th style="border:solid;width:6ch" rowspan=2>MO #</th>
            <th style="border:solid;min-width:12ch" rowspan=2>Planner ESD (Week#)</th>
            <th style="border:solid;text-align:center" colspan=3>Kitting</th>
            <th style="border:solid;width:10ch" rowspan=2>Location</th>
            <th style="border:solid;width:4ch" rowspan=2>Sub Built</th>
            <th style="border:solid;min-width:12ch" rowspan=2>Build Completion Date</th>
            <th style="border:solid" rowspan=2>Last Updated by</th>
        </tr>
        <tr>
            {# Kitting #}
            <th style="border:solid;min-width:12ch">Completion Date</th>
            <th style="border:solid;width:6ch">Completed By</th>
            <th style="border:solid;width:4ch">Filled Completely?</th>
        </tr>            
        </thead>
        <tbody>
            {% for job in jobs %}
                {% set late = 0 %}
                {# highlight red if planner ESD has past and build completion date is empty #}
                {% if job.plannerEstimatedShipDate < date() and job.scheduling.completionDate is null %}
                    {% set late = 1 %}
                {% endif %}
            <tr {% if late %}bgcolor="indianred"{% endif %}>
                <td style="font-size:xx-small; {% if late %}color:white{% endif %}">{{ job.name }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ job.salesOrder }}</td>   
                <td {% if late %}style="color:white"{% endif %}>{{ job.type }}</td>
                <td style="word-break:break-all; {% if late %}color:white{% endif %}">{{ job.model }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ job.quantity }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ job.manufacturingOrder }}</td>
                <td {% if late %}style="color:white"{% endif %}>
                    {% if job.plannerEstimatedShipDate %}
                        {{ job.plannerEstimatedShipDate|date('Y-m-d') }} ({{ job.plannerEstimatedShipDate|date('W') }})
                    {% else %}
                        TBD
                    {% endif %}
                </td>
                {# Kitting #}
                <td {% if late %}style="color:white"{% endif %}>{{ job.kitting and job.kitting.completionDate ? job.kitting.completionDate|date('Y-m-d') : "" }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ job.kitting.updatedBy }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ job.kitting.filledCompletely ? "Yes" : "No" }}</td>
                <td {% if late %}style="color:white"{% endif %}>{{ job.kitting.location }}</td>
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="subReady" data-name="subReady" data-pk="{{job.id}}" data-value="{{job.scheduling.subReady}}" data-url="{{ path('edit_scheduling_sub_ready', {'jobId': job.id}) }}">{{ job.scheduling.subReady ? "Yes" : "No"}}</a></td>
                <td {% if late %}style="color:white"{% endif %}><a href="#" class="completionDate" data-name="completionDate" data-pk="{{job.id}}" data-url="{{ path('edit_scheduling_completion_date', {'jobId': job.id}) }}">{{ job.scheduling.completionDate ? job.scheduling.completionDate | date('Y-m-d') : "" }}</a></td>
                <td {% if late %}style="color:white"{% endif %}>{{ job.updatedBy }}<br>({{ job.updateTime | date('Y-m-d') }})</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>

    $(document).ready(function() {
        $('.table').fixedThead({
          height: 400,
          row: 2,
          col: 2
        });

        $("input[name='planner_esd'").datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
        });        

        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';

        $('.serialsGeneratedDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Serials Generated Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.shipDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Ship Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.isComplete').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                emptytext: 'N/A',
                container: 'body',
                placement: 'left',
                value: obj.dataset.value,
                source: [
                  {value: 2, text: 'Complete'},
                  {value: 1, text: 'Partial'}
                ],
                url: obj.dataset.url,
                title: 'Is Complete?',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.secondShipDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Second Ship Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.issuedDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Issued Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.subReady').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                emptytext: 'N/A',
                container: 'body',
                placement: 'left',
                value: obj.dataset.value,
                source: [
                  {value: 1, text: 'Yes'},
                  {value: 0, text: 'No'},
                ],
                url: obj.dataset.url,
                title: 'Sub Ready?',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.completionDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Completion Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

    });
    </script>
{% endblock %}