{% extends 'base.html.twig' %}

{% block headerTitle %}Receiver Parts{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>Receiver Parts</span></li>
{% endblock %}

{% block body %}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form action="{{ path('receiver') }}" method="GET">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-label">Part #</label>
                        <input type="text" name="part_number" value="{{ part_number }}" placeholder="Type in part #" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Vendor PO #</label>
                        <input type="text" id="vendor_po_number" name="vendor_po_number" value="{{ vendor_po_number }}" placeholder="Type in Vendor PO #" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-info" value="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h2>Receiver Part list</h2>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th style="border:solid">Part Number</th>
            <th style="border:solid">Date Needed</th>
            <th style="border:solid">EDD</th>
            <th style="border:solid">Vendor</th>
            <th style="border:solid">Vendor PO#</th>
            <th style="border:solid">Mod WO#</th>
            <th style="border:solid">Received Date</th>
            <th style="border:solid">Notes</th>
            <th style="border:solid">Location</th>            
            <th style="border:solid">Job Name</th>
            <th style="border:solid">Job SO #</th>
            <th style="border:solid">Qty</th>
            <th style="border:solid">Updated by</th>
        </tr>
        </thead>
        <tbody>
            {% for part in parts %}
            <tr>
                <td>{{ part.partNumber}}</td>
                <td>{{ part.dateNeeded ? part.dateNeeded | date('Y-m-d') : "" }}</td>
                <td>{{ part.estimatedDeliveryDate ? part.estimatedDeliveryDate | date('Y-m-d') : "" }}</td>
                <td>{{ part.vendor }}</td>
                <td>{{ part.vendorPoNumber }}</td>
                <td>{{ part.modWo }}</td>
                <td><a href="#" class="receivedDate" data-name="receivedDate" data-pk="{{part.id}}" data-url="{{ path('edit_kitting_short_received_date', {'shortId': part.id}) }}">{{ part.receivedDate ? part.receivedDate | date('Y-m-d') : "" }}</a></td>
                <td>{{ parts.notes | default("") }}</td>
                <td><a href="#" class="location" data-name="location" data-pk="{{part.id}}" data-url="{{ path('edit_kitting_location', {'jobId': part.id}) }}">{{ part.kitting ? part.kitting.location }}</a></td>
                <td>{{ part.kitting and part.kitting.job ? part.kitting.job.name }}</td>
                <td>{{ part.kitting and part.kitting.job ? part.kitting.job.salesOrder }}</td>   
                <td>{{ part.kitting and part.kitting.job ? part.kitting.job.quantity }}</td>
                <td>{{ part.updatedBy }}<br>({{ part.updateTime|date('Y-m-d') }})</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('.table').fixedThead({
          height: 400,
          row: 1,
          col: 1
        });
        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';
        
        $('.receivedDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Received Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        
        $('.location').each(function(i, obj) {
            $(this).editable({
                type: 'text',
                container: 'body',
                url: obj.dataset.url,
                title: 'Enter location',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
        
    });
    </script>
{% endblock %}