{% extends 'base.html.twig' %}

{% block headerTitle %}BOM Builder Jobs{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>BOM Builder Jobs</span></li>
{% endblock %}

{% block body %}
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form action="{{ path('bom_builder') }}" method="GET">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-label">Name</label>
                        <input type="text" name="name" value="{{ name }}" placeholder="Type in name" class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Sales Order #</label>
                        <input type="text" name="sales_order" value="{{ sales_order }}" placeholder="Type in SO #" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-info" value="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h2>BOM Builder Job list</h2>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th style="border:solid;width:10ch">Name</th>
                <th style="border:solid;width:6ch">SO #</th>
                <th style="border:solid;width:10ch">Type</th>
                <th style="border:solid;width:6ch">Model</th>
                <th style="border:solid;width:4ch">Qty</th>
                <th style="border:solid;width:6ch">MO #</th>
                <th style="border:solid;width:3ch">LOC</th>
                <th style="border:solid;width:12ch">Planner ESD<br>(Week #)</th>
                <th style="border:solid;width:12ch">Serials</th>
                <th style="border:solid;width:12ch">BOM Issued Date</th>
                <th style="border:solid;width:10ch">BOM Issued By</th>
                <th style="border:solid">Updated by</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td style="font-size:xx-small">{{ job.name }}</td>
                <td>{{ job.salesOrder }}</td>
                <td>{{ job.type }}</td>
                <td style="word-break:break-all">{{ job.model }}</td>
                <td>{{ job.quantity }}</td>
                <td>{{ job.manufacturingOrder }}</td>
                <td>{{ job.buildLocation.name }}</td>
                <td style=
                    {% if job.estimatedShipDate and job.plannerEstimatedShipDate and date(job.plannerEstimatedShipDate) > date(job.estimatedShipDate) %}
                        "background-color:indianred;color:white"
                    {% elseif job.scheduling and job.scheduling.priority > 0 %}
                        "background-color:yellow"
                    {% endif %}
                    >
                    {% if job.plannerEstimatedShipDate %}
                        {{ job.plannerEstimatedShipDate|date('Y-m-d') }} ({{ job.plannerEstimatedShipDate|date('W') }})
                    {% else %}
                        TBD
                    {% endif %}
                </td>
                {# Shipped #}
                <td><a href="#" class="serialsGeneratedDate" data-name="serialsGeneratedDate" data-pk="{{job.id}}" data-url="{{ path('edit_bom_serials_generated_date', {'jobId': job.id}) }}">{{ job.bom and job.bom.serialsGeneratedDate ? job.bom.serialsGeneratedDate|date('Y-m-d') : "Not Generated Yet" }}</a></td>
                {# BOM #}
                <td><a href="#" class="issuedDate" data-name="issuedDate" data-pk="{{job.id}}" data-url="{{ path('edit_bom_issued_date', {'jobId': job.id}) }}">{{ job.bom and job.bom.issuedDate ? job.bom.issuedDate|date('Y-m-d') : "" }}</a></td>
                <td>{{ job.bom ? job.bom.issuedBy : ""}}</td>
                <td>{{ job.bom.updatedBy }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('.table').fixedThead({
          height: 400,
          row: 1,
          col: 2
        });

        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';

        $('.serialsGeneratedDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Serials Generated Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.shipDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Ship Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.isComplete').each(function(i, obj) {
            $(this).editable({
                type: 'select',
                emptytext: 'N/A',
                container: 'body',
                placement: 'left',
                value: obj.dataset.value,
                source: [
                  {value: 2, text: 'Complete'},
                  {value: 1, text: 'Partial'}
                ],
                url: obj.dataset.url,
                title: 'Is Complete?',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.secondShipDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Second Ship Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

        $('.issuedDate').each(function(i, obj) {
            $(this).editable({
                type: 'date',
                container: 'body',
                placement: 'left',
                url: obj.dataset.url,
                title: 'Select Issued Date',
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });

    });
    </script>
{% endblock %}