<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>{% block title %}v2 Lighting Group, Inc.{% endblock %}</title>
    {% block stylesheets %}
    <link rel="icon" type="image/png" href="{{ asset('just/dist/img/favicon.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('just/dist/img/apple-touch-favicon.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet" type="text/css">
    <link href="{{ asset('just/dist/libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('just/dist/libs/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"><!-- Common Libs CSS -->
    <link href="{{ asset('just/dist/css/libs.common.min.css') }}" rel="stylesheet"><!-- Page Libs CSS --><!-- Just Bootstrap Theme -->
    <link href="{{ asset('just/dist/css/just.css') }}" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    {% endblock %}  
  </head>
  <body class="sidebar-collapsible sidebar-open">
    <div class="st-wrapper">
      <div class="st-sidebar">
        <div class="st-sidebar__header"><a class="st-sidebar__logo" href="index.html">
            <img src="{{ asset('just/dist/img/v2-lighting-group-logo.png') }}" alt="V2 Lighting Group Inc" height="75" width="100"></a>
          <div class="st-sidebar__mico st-sidebar__toggle"><i class="fa fa-bars"></i></div>
        </div>
        <div class="st-sidebar__cont">
          <div class="st-sidebar__scroll scrollbar">
            <div class="st-sidebar__nav">
              <ul>
              {% if is_granted('ROLE_ADMIN') %} 
                <li><a href="{{ path('dashboard') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-star st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Dashboard</span></div>
                    </div></a></li>
              {% endif %}

                <li><a href="{{ path('all') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-list st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Jobs</span></div>
                    </div></a>
                </li>
              {% if is_granted('ROLE_BOM_BUILDER') %} 
                <li><a href="{{ path('bom_builder') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-user st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">BOM Builder</span></div>
                    </div></a>
                </li>
              {% endif %}                
              {% if is_granted('ROLE_KITTER') %} 
                <li><a href="{{ path('kitter') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-clipboard st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Kitter</span></div>
                    </div></a>
                </li>
              {% endif %}
              {% if is_granted('ROLE_RECEIVER') %} 
                <li><a href="{{ path('receiver') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-sign-in st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Receiver</span></div>
                    </div></a>
                </li>
              {% endif %}
              {% if is_granted('ROLE_MANUFACTURER') %} 
                <li><a href="{{ path('manufacturer') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-wrench st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Manufacturer</span></div>
                    </div></a>
                </li>
              {% endif %}
              {% if is_granted('ROLE_SUPPLY_CHAIN') %} 
                <li><a href="{{ path('supply_chain') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-link st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Supply Chain</span></div>
                    </div></a>
                </li>
              {% endif %}
              {% if is_granted('ROLE_MAC_PRODUCTION') %} 
                <li><a href="{{ path('mac_production') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-building st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">MAC Production</span></div>
                    </div></a>
                </li>
              {% endif %}
              {% if is_granted('ROLE_V2_PRODUCTION') %} 
                <li><a href="{{ path('v2_production') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-user st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">V2 Production</span></div>
                    </div></a>
                </li>
              {% endif %}
              {% if is_granted('ROLE_SCHEDULER') %} 
                <li><a href="{{ path('scheduler') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-calendar st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Scheduler</span></div>
                    </div></a>
                </li>
              {% endif %}                
              </ul>
            </div>
          </div>
          <div class="st-sidebar__popup"></div>
        </div>
      </div>
      <div class="st-main">
        {% for label, messages in app.flashes %}
          {% if label == 'success' %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <i class="alert-ico fa fa-fw fa-check"></i>
              {% for message in messages %}
                {{message}}
              {% endfor %}
            </div>
          {% endif %}
          {% if label == 'error' %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <i class="alert-ico fa fa-fw fa-ban"></i>
                {% for message in messages %}
                  {{message}}
                {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
        <div class="st-header">
          <div class="fluid-cols">
            <div class="min-col">
              <div class="st-header__menu">
                <button class="btn st-sidebar__toggle"><i class="fa fa-bars"></i></button>
              </div>
            </div>
            <div class="expand-col text-ellipsis">
              <div class="st-header__title"><span>{% block headerTitle %}Blank Page{% endblock %}</span>
              </div>
            </div>
            <div class="min-col">
              <ul class="st-header__actions text-nowrap">
                <li class="st-header__act st-header__user" data-toggle="popup" data-target="#user-popup"><i class="fa fa-user"></i>
                  <div class="st-popup st-userpopup" id="user-popup">
                    <div class="st-userpopup__cont">
                      <div class="st-userpopup__main">
                        <div class="st-userpopup__photo">
                          <div class="st-userpopup__img" style="background-image: url('img/apple-touch-favicon.png');"></div>
                        </div>
                        <div class="st-userpopup__info">
                          <div class="st-userpopup__name text-ellipsis">AdminBootstrap</div>
                          <div class="st-userpopup__status"><span class="label label-success">Manager</span></div>
                        </div>
                      </div>
                      <ul class="st-userpopup__menu">
                        <li class="st-spanel__open" data-tab="#notifications" data-toggle="popup" data-target="#user-popup" data-method="hide"><a>
                            <div class="fluid-cols">
                              <div class="expand-col text-ellipsis"><span>Alerts</span></div>
                              <div class="min-col"><i class="fa fa-bell"></i>
                                <div class="st-userpopup__count st-notifications-count"></div>
                              </div>
                            </div></a></li>
                        <li data-toggle="popup" data-target="#user-popup" data-method="hide"><a href="app-profile.html">
                            <div class="fluid-cols">
                              <div class="expand-col text-ellipsis"><span>Profile</span></div>
                              <div class="min-col"><i class="fa fa-user"></i></div>
                            </div></a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">
                            <div class="fluid-cols">
                              <div class="expand-col text-ellipsis"><span>Log Out</span></div>
                              <div class="min-col"><i class="fa fa-sign-out"></i></div>
                            </div></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="st-crumbs">
          <div class="fluid-cols">
            <div class="expand-col text-ellipsis">
              <ul>
                <li><a href="{{ path('dashboard') }}">Home</a></li>
                {% block breadcrumbs %}
                  <li><span>Blank Page</span></li>
                {% endblock %}
              </ul>
            </div>
          </div>
        </div>
        <div class="st-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="st-panel">
                  <div class="st-panel__cont">       
                    <div class="st-panel__content">
                      {% block body %}
                          <p>This is a Blank Page.</p>
                      {% endblock %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="source-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
            <div class="st-source st-source--copy">
              <div class="st-source__copy st-clip" data-clipboard-target="#source-code">Copy</div>
              <pre><code class="html" id="source-code"></code></pre>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
      <div id="flash-messages">
        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="flash-error">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="flash-success">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}
      }
    }
    }
    </div>

    <!-- Common Libs JS -->
    <script src="{{ asset('just/dist/js/libs.common.min.js') }}"></script><!-- Common App Modules -->
    <script src="{{ asset('just/dist/js/modules/app.js') }}"></script>
    <script src="{{ asset('just/dist/js/modules/layout/sidebar.js') }}"></script>
    <script src="{{ asset('just/dist/js/modules/layout/spanel.js') }}"></script>
    <script src="{{ asset('just/dist/js/modules/widgets/settings.js') }}"></script>
    <script src="{{ asset('just/dist/js/modules/widgets/notifications.js') }}"></script><!-- Page Libs JS --><!-- Page App Modules -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
    <script>
      function app_handle_listing_horisontal_scroll(listing_obj)
      {
        //get table object   
        table_obj = $('.table',listing_obj);
        
        //get count fixed collumns params
        count_fixed_collumns = table_obj.attr('data-count-fixed-columns')
                   
        if(count_fixed_collumns>0)
        {
          //get wrapper object
          wrapper_obj = $('.table-scrollable',listing_obj);
          
          wrapper_left_margin = 0;
          
          table_collumns_width = new Array();    
          table_collumns_margin = new Array();
          
          //calculate wrapper margin and fixed column width
          $('th',table_obj).each(function(index){
             if(index<count_fixed_collumns)
             {
               wrapper_left_margin += $(this).outerWidth();
               table_collumns_width[index] = $(this).outerWidth();
             }
          })
          
          //calcualte margin for each column  
          $.each( table_collumns_width, function( key, value ) {
            if(key==0)
            {
              table_collumns_margin[key] = wrapper_left_margin;
            }
            else
            {
              next_margin = 0;
              $.each( table_collumns_width, function( key_next, value_next ) {
                if(key_next<key)
                {
                  next_margin += value_next;
                }
              });
              
              table_collumns_margin[key] = wrapper_left_margin-next_margin;
            }
          });
           
          //set wrapper margin               
          if(wrapper_left_margin>0)
          {
            wrapper_obj.css('cssText','margin-left:'+wrapper_left_margin+'px !important; width: auto')
          }
          
          //set position for fixed columns
          $('tr',table_obj).each(function(){  
            
            //get current row height
            current_row_height = $(this).outerHeight();
                 
            $('th,td',$(this)).each(function(index){
               
               //set row height for all cells
               $(this).css('height',current_row_height)
               
               //set position 
               if(index<count_fixed_collumns)
               {                       
                 $(this).css('position','absolute')
                        .css('margin-left','-'+table_collumns_margin[index]+'px')
                        .css('width',table_collumns_width[index])
                        
                 $(this).addClass('table-fixed-cell')
               }
            })
          })    
        }
      }
    </script>
    {% block javascripts %}
    {% endblock %}
  </body>
</html>