<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>{% block title %}v2 Lighting Group, Inc.{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('just/dist/img/favicon.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('just/dist/img/apple-touch-favicon.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet" type="text/css">
    <link href="{{ asset('just/dist/libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('just/dist/libs/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"><!-- Common Libs CSS -->
    <link href="{{ asset('just/dist/css/libs.common.min.css') }}" rel="stylesheet"><!-- Page Libs CSS --><!-- Just Bootstrap Theme -->
    <link href="{{ asset('just/dist/css/just.css') }}" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="{{ asset('css/fixedThead.css') }}" rel="stylesheet"/>
    {% block stylesheets %}
    {% endblock %}  
  </head>
  <div style="text-align:center;background-color:yellow">STAGING</div>
  <body class="sidebar-collapsible sidebar-open">
    <div class="st-wrapper">
      <div class="st-sidebar">
        <div class="st-sidebar__header"><a class="st-sidebar__logo" href="index.html">
            <img src="{{ asset('just/dist/img/v2-lighting-group-logo.png') }}" alt="V2 Lighting Group Inc" height="75" width="100"></a>
          <div class="st-sidebar__mico st-sidebar__toggle"><i class="fa fa-bars"></i></div>
        </div>
        <div class="st-sidebar__cont">
          <div class="st-sidebar__scroll scrollbar">
            <div class="st-sidebar__nav">
              <ul>
                <li><a href="{{ path('dashboard') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-star st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Dashboard</span></div>
                    </div></a>
                </li>
              {% if is_granted('ROLE_ADMIN') %} 
                <li><a href="{{ path('everything') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-globe st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Everything</span></div>
                    </div></a>
                </li>                
              {% endif %}
                <li><a href="{{ path('create_job') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-list st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Create Job</span></div>
                    </div></a>
                </li>
                <li><a href="{{ path('bom_builder') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-user st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">BOM Builder</span></div>
                    </div></a>
                </li>
              {% if is_granted('ROLE_SCHEDULER') %} 
                <li><a href="{{ path('scheduler') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-calendar st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Scheduler</span></div>
                    </div></a>
                </li>
              {% endif %}
                <li><a href="{{ path('kitter') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-clipboard st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Kitter</span></div>
                    </div></a>
                </li>
                <li><a href="{{ path('short_kits') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-clipboard st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Short Kits</span></div>
                    </div></a>
                </li>
                <li><a href="{{ path('receiver') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-sign-in st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Receiver</span></div>
                    </div></a>
                </li>
                <li><a href="{{ path('manufacturer') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-wrench st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Manufacturer</span></div>
                    </div></a>
                </li>
                <li><a href="{{ path('supply_chain') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-link st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Supply Chain</span></div>
                    </div></a>
                </li>
                <li><a href="{{ path('mac_production') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-building st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">MAC Production</span></div>
                    </div></a>
                </li>
                <li><a href="{{ path('v2_production') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-user st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">V2 Production</span></div>
                    </div></a>
                </li>
                <li><a href="{{ path('shipper') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-truck st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Shipper</span></div>
                    </div></a>
                </li>
                <li><a href="#">
                      <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-paint-brush st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Paint</span></div>
                      <div class="min-col"><i class="fa fa-angle-right st-sidebar__arrow"></i></div>
                    </div></a>
                  <ul class="st-sidebar__nested">
                  <li>
                    <a href="{{ path('paint_view1') }}">
                      <div class="fluid-cols">
                        <div class="expand-col text-ellipsis"><span class="st-sidebar__title">To be batched</span></div>
                      </div></a>
                  </li>
{#                   <li>
                    <a href="{{ path('paint_view2') }}">
                      <div class="fluid-cols">
                        <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Create Batch</span></div>
                      </div></a>
                  </li>
 #}                  <li>
                    <a href="{{ path('paint_view3') }}">
                      <div class="fluid-cols">
                        <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Active Batches</span></div>
                      </div></a>
                  </li>
                  <li>
                    <a href="{{ path('paint_view4') }}">
                      <div class="fluid-cols">
                        <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Jobs in Batch</span></div>
                      </div></a>
                  </li>
                </ul>
              </li>
              {% if is_granted('ROLE_ADMIN') %} 
                <li>
                  <a href="{{ path('users') }}">
                    <div class="fluid-cols">
                      <div class="min-col"><i class="fa fa-users st-sidebar__ico"></i></div>
                      <div class="expand-col text-ellipsis"><span class="st-sidebar__title">Users</span></div>
                    </div></a> 
                </li>               
              {% endif %}
              </ul>
            </div>
          </div>
          <div class="st-sidebar__popup"></div>
        </div>
      </div>
      <div class="st-main">
        {% for label, messages in app.flashes %}
          {% if label == 'success' %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <i class="alert-ico fa fa-fw fa-check"></i>
              {% for message in messages %}
                {{message}}
              {% endfor %}
            </div>
          {% endif %}
          {% if label == 'error' %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <i class="alert-ico fa fa-fw fa-ban"></i>
                {% for message in messages %}
                  {{message}}
                {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
        <div class="st-header">
          <div class="fluid-cols">
            <div class="min-col">
              <div class="st-header__menu">
                <button class="btn st-sidebar__toggle"><i class="fa fa-bars"></i></button>
              </div>
            </div>
            <div class="expand-col text-ellipsis">
              <div class="st-header__title"><span>{% block headerTitle %}Blank Page{% endblock %}</span>
              </div>
            </div>
            <div class="min-col">
              <ul class="st-header__actions text-nowrap">
                <li class="st-header__act st-header__user" data-toggle="popup" data-target="#user-popup"><i class="fa fa-user"></i>
                  <div class="st-popup st-userpopup" id="user-popup">
                    <div class="st-userpopup__cont">
                      <div class="st-userpopup__main">
                        <div class="st-userpopup__photo">
                          <div class="st-userpopup__img" style="background-image: url({{ asset('just/dist/img/apple-touch-favicon.png') }});"></div>
                        </div>
                        <div class="st-userpopup__info">
                          <div class="st-userpopup__name text-ellipsis">V2LightingGroup</div>
                          <div class="st-userpopup__status">
                            <span class="label label-success">
                              {% if app.user is not null %}
                                {% for role in app.user.roles %}
                                  {% if app.user.roles|length > 1 and role == 'ROLE_USER' %}
                                    {# Don't need to show this #}
                                  {% else %}
                                    {{ constant('V2\\UserBundle\\Entity\\User::' ~ role) }}<BR>
                                  {% endif %}
                                {% endfor %}
                              {% endif %}
                            </span>
                          </div>
                        </div>
                      </div>
                      <ul class="st-userpopup__menu">
                        {# <li class="st-spanel__open" data-tab="#notifications" data-toggle="popup" data-target="#user-popup" data-method="hide"><a>
                            <div class="fluid-cols">
                              <div class="expand-col text-ellipsis"><span>Alerts</span></div>
                              <div class="min-col"><i class="fa fa-bell"></i>
                                <div class="st-userpopup__count st-notifications-count"></div>
                              </div>
                            </div></a></li> #}
                        <li data-toggle="popup" data-target="#user-popup" data-method="hide"><a href="{{ path('edit_user',{userId:app.user.id})}}">
                            <div class="fluid-cols">
                              <div class="expand-col text-ellipsis"><span>Profile</span></div>
                              <div class="min-col"><i class="fa fa-user"></i></div>
                            </div></a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">
                            <div class="fluid-cols">
                              <div class="expand-col text-ellipsis"><span>Log Out</span></div>
                              <div class="min-col"><i class="fa fa-sign-out"></i></div>
                            </div></a></li>
                      </ul>
                      <div style="text-align:right;font-size:6pt;">V1.814</div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="st-crumbs">
          <div class="fluid-cols">
            <div class="expand-col text-ellipsis">
              <ul>
                <li><a href="{{ path('dashboard') }}">Home</a></li>
                {% block breadcrumbs %}
                  <li><span>Blank Page</span></li>
                {% endblock %}
              </ul>
              {% block afterBreadcrumbs %}{% endblock %}
            </div>
          </div>
        </div>
        <div class="st-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="st-panel">
                  <div class="st-panel__cont">       
                    <div class="st-panel__content">
                      {% block body %}
                          <p>This is a Blank Page.</p>
                      {% endblock %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="source-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
            <div class="st-source st-source--copy">
              <div class="st-source__copy st-clip" data-clipboard-target="#source-code">Copy</div>
              <pre><code class="html" id="source-code"></code></pre>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
      <div id="flash-messages">
        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="flash-error">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="flash-success">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}
      }
    }
    }
    </div>

    <!-- Common Libs JS -->
    <script src="{{ asset('just/dist/js/libs.common.min.js') }}"></script><!-- Common App Modules -->
    <script src="{{ asset('just/dist/js/modules/app.js') }}"></script>
    <script src="{{ asset('just/dist/js/modules/layout/sidebar.js') }}"></script>
    <script src="{{ asset('bootstrap3-editable/js/bootstrap-editable.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/fixedThead.js') }}"></script>
    <script src="{{ asset('js/Chart.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
  </body>
</html>