<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Production Planner - V2 Lighting Group</title>
    <link rel="icon" type="image/png" href="{{ asset('just/dist/img/favicon.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('just/dist/img/apple-touch-favicon.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet" type="text/css">
    <link href="{{ asset('just/dist/libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">    
    <link href="{{ asset('just/dist/libs/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"><!-- Common Libs CSS -->
    <link href="{{ asset('just/dist/css/libs.common.min.css') }}" rel="stylesheet"><!-- Page Libs CSS --><!-- Just Bootstrap Theme -->
    <link href="{{ asset('just/dist/css/just.css') }}" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="st-wrapper">
      <div class="st-auth">
        <div class="st-auth__cont">
          <div class="st-panel">
            <div class="st-panel__cont">
              <div class="st-panel__header">
                <div class="fluid-cols">
                  <div class="expand-col"><span class="st-panel__title"><span>Login</span></span></div>
                </div>
              </div>
              <div class="st-panel__content">

                {% if error %}
                  <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form class="form" id="login-form" action="{{ path("fos_user_security_check") }}" method="post">
                  {% if csrf_token %}
                      <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                  {% endif %}

                  <input type="text" id="username" placeholder="Username" name="_username" value="{{ last_username }}" required="required" />

                  <input type="password" id="password" placeholder="Password" name="_password" required="required" />

                  <div class="form-group">
                    <div class="fluid-cols">
{#                       <div class="expand-col text-ellipsis">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">Remember me</label>
                      </div>
#}
                      <div class="min-col">
                        <div class="btn-group btn-group-inline">
                          <button class="btn btn-info" id="_submit" name="_submit" type="submit">Login</button>
                          <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_registration_register') }}">Create Account</a></li>
                            <li><a href="{{ path('fos_user_resetting_request') }}">Forgot Password</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Common Libs JS -->
    <script src="{{ asset('just/dist/js/libs.common.min.js') }}"></script><!-- Common App Modules -->
    <script src="{{ asset('just/dist/js/modules/app.js') }}"></script>
    <script src="{{ asset('just/dist/libs/bootstrap-validator/validator.min.js') }}"></script><!-- Page App Modules -->
    <script src="{{ asset('just/dist/js/modules/pages/auth.js') }}"></script>
  </body>
</html>