{% extends 'base.html.twig' %}

{% block headerTitle %}Dashboard{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>Dashboard</span></li>
{% endblock %}

{% block body %}
    <h1>Total jobs: {{ total }}</h1>
    <hr>
    <h3>
        Jobs scheduled from <b>{{ startDate }}</b> to <b>{{ endDate }}</b>
    </h3>
        <table class="table table-filled">
            <thead>
                <tr>
                    <td>Location</td>
                    <td>Total jobs</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>V2</td>
                    <td>{{ scheduledV2Jobs }}</td>
                </tr>
                <tr>
                    <td>MAC</td>
                    <td>{{ scheduledMacJobs }}</td>
                </tr>
            </tbody>
        </table>
    <hr>
    <h3>Jobs shipped</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">Today</div>
                    <div class="panel-body">
                        <div class="text-center">{{ jobsShippedToday }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">This week</div>
                    <div class="panel-body">
                        <div class="text-center">{{ jobsShippedThisWeek }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">This month</div>
                    <div class="panel-body">
                        <div class="text-center">{{ jobsShippedThisMonth }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div

{% endblock %}